app/.node-red/.flows.json.backup
[{"id":"137a9152.2c26cf","type":"tab","label":"Assets","disabled":false,"info":""},{"id":"b7b775e0.9589b8","type":"tab","label":"Employees","disabled":false,"info":""},{"id":"3c1f6dd2.c28162","type":"tab","label":"Live Copy","disabled":false,"info":""},{"id":"c1ded861.e40118","type":"tab","label":"Local Copy","disabled":true,"info":""},{"id":"6b628289.79f0ac","type":"subflow","name":"humanity","info":"","in":[{"x":72.00000381469727,"y":68.00000381469727,"wires":[{"id":"a2287ef.3c7478"}]}],"out":[]},{"id":"48984b9c.f764e4","type":"mqtt-broker","z":"","name":"rabbit","broker":"white-swan.rmq.cloudamqp.com","port":"1883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8de3c01b.03c44","type":"mqtt-broker","broker":"10.0.1.10","port":"1883"},{"id":"9b5a5bab.b045b8","type":"git-nodes-config","z":"","name":"github opol6","git":"git@github.com:adowning/opol6.git"},{"id":"8c5fc8f9.567368","type":"json-db-collection","z":"","name":"assets","collection":"assets","save":true},{"id":"a653adb3.e0809","type":"mqtt-broker","z":"","name":"rabbit","broker":"white-swan.rmq.cloudamqp.com","port":"1883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"351736bb.017b9a","type":"cloudantplus","z":"","host":"938d6de2-a827-4db5-9031-ec0143d91b2b-bluemix.cloudant.com","name":"bluemix_opol6"},{"id":"d7812501.91ffc8","type":"ibmiot","z":"3c1f6dd2.c28162","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"9d77b0a7.0ae73","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/putprofiles","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["dd99a720.eeb0e8","e9fbd631.ebed48"]]},{"id":"e9fbd631.ebed48","type":"http response","z":"137a9152.2c26cf","name":"profiles inserted","statusCode":"","headers":{},"x":650,"y":100,"wires":[]},{"id":"a835aa98.8b0b48","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/getprofiles","method":"get","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["4dcf4a52.c4b924"]]},{"id":"d7229861.84a918","type":"http response","z":"137a9152.2c26cf","name":"return profiles","statusCode":"","headers":{},"x":650,"y":160,"wires":[]},{"id":"f0e69cc1.25d0b","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/putconsumables","method":"get","upload":false,"swaggerDoc":"","x":180,"y":280,"wires":[["bd122d14.79c47","3b7fe24b.c4586e"]]},{"id":"3b7fe24b.c4586e","type":"http response","z":"137a9152.2c26cf","name":"consumables inserted","statusCode":"","headers":{},"x":670,"y":280,"wires":[]},{"id":"fbb38b02.e0f968","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/getconsumables","method":"get","upload":false,"swaggerDoc":"","x":180,"y":340,"wires":[["686fb972.ebf6d8"]]},{"id":"d1a878df.5b56d8","type":"http response","z":"137a9152.2c26cf","name":"return consumables","statusCode":"","headers":{},"x":660,"y":340,"wires":[]},{"id":"d9b3a2f5.87668","type":"http response","z":"137a9152.2c26cf","name":"owntracks inserted","statusCode":"","headers":{},"x":660,"y":480,"wires":[]},{"id":"3b3c8388.32171c","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/getowntracks","method":"get","upload":false,"swaggerDoc":"","x":170,"y":540,"wires":[["355902d0.8aa28e"]]},{"id":"6a286bfc.a823a4","type":"http response","z":"137a9152.2c26cf","name":"return owntracks","statusCode":"","headers":{},"x":650,"y":540,"wires":[]},{"id":"d477a066.8ced6","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/assets/checkouthardware","method":"get","upload":false,"swaggerDoc":"","x":1010,"y":140,"wires":[["fcc8bb03.f29648"]]},{"id":"5871bcab.4b7f34","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/assets/checkinhardware","method":"get","upload":false,"swaggerDoc":"","x":960,"y":200,"wires":[["57ff7d72.444c44"]]},{"id":"fcc8bb03.f29648","type":"function","z":"137a9152.2c26cf","name":"ash","func":"msg.headers = {}\nvar msg2 = msg \nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nmsg.assetId = msg.payload.assetId\nmsg.username = msg.payload.username\nnode.warn(msg.username)\nmsg.snipeit_host = global.get('snipeit_host')\nmsg2 = msg.payload = global.get('profiles')\n\nreturn [msg, msg2]","outputs":1,"noerr":0,"x":1210,"y":140,"wires":[["3f748ff1.e6362"]]},{"id":"6e6594a3.03386c","type":"http response","z":"137a9152.2c26cf","name":"","statusCode":"","headers":{},"x":1770,"y":140,"wires":[]},{"id":"57ff7d72.444c44","type":"function","z":"137a9152.2c26cf","name":"ash","func":"msg.headers = {}\nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nconsole.log(msg.payload.assetId)\nmsg.id = msg.payload.assetId\nmsg.snipeit_host = global.get('snipeit_host')\n\n console.log(msg.id)\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":200,"wires":[["9f724ec1.7e882"]]},{"id":"1597af57.5e6c91","type":"http request","z":"137a9152.2c26cf","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware/{{{assetId}}}/checkout?assigned_user={{{userId}}}&checkout_to_type=user","tls":"","x":1610,"y":140,"wires":[["6e6594a3.03386c","6514cab0.f6c214","5de1eed3.c088f"]]},{"id":"df99e673.51a6a8","type":"function","z":"137a9152.2c26cf","name":"ash","func":"msg.headers = {}\nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nmsg.snipeit_host = global.get('snipeit_host')\nmsg.mock = false\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["c8e8dfd0.e5ace"]]},{"id":"c8e8dfd0.e5ace","type":"http request","z":"137a9152.2c26cf","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware","tls":"","x":1310,"y":280,"wires":[["a69c6a02.8cd758"]]},{"id":"d257fdb7.e2e34","type":"function","z":"137a9152.2c26cf","name":"ash","func":"global.set('snipeit_token', 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjQ0ODQ5ZmVjYmQ3YTBiNWUxMjg4MzUzMjZkZjdkNDM0ZjA1YjVmNWVmZjM0MWQ3NTVjM2NmMGVhODIxODNjNjAyNWQ4NWE4OTE2ZWNiMjlmIn0.eyJhdWQiOiIxIiwianRpIjoiNDQ4NDlmZWNiZDdhMGI1ZTEyODgzNTMyNmRmN2Q0MzRmMDViNWY1ZWZmMzQxZDc1NWMzY2YwZWE4MjE4M2M2MDI1ZDg1YTg5MTZlY2IyOWYiLCJpYXQiOjE1MjgzMDkyMDgsIm5iZiI6MTUyODMwOTIwOCwiZXhwIjoxNTU5ODQ1MjA4LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.yv1QL0Vbf4EupDdI-9U6somSbALryrk5UXX5cMV_iNILSye7rKqruoLurDghzt6-2PboAHffoiWnBGRp36vdJ5oUTNKWPSYl-PQqLkDVWjinpcQ0jHZM75lLausxkIknDi4bFlXPgWHtewotLUQKdDW-Nkij6EckVUZbn2lOFw2bi2HOGzENVl7H8VHaBXlQw_cBpT7w4K1FaHkYE2qECK-B2GZ0VlVw3sBDESbyT0sb-HRzt-6R1icItzMHUXz0sbJox3LyfGJ3X4Z3-_tKk3mxd9TXldWf7HTdk5d65r9YBCl770Ha1rAKhwyGGvMU6jBfQemGcklzooivRfVjzhRD5BlpJNqus7NquyEYacPdmm7A4Tp3bbzyxNeh_7jlVjqsf7CrWy78nFUdrrtE6gBavMwAz8AE7FScH6NzMjCekTU-pvEuUjEmTwj5p_NCUt8Yjwo9u66UzlgVf45wsG3qngL50D097rTzdA97-XGlt-csbZ_m7v2lJXNjR0yxM29aNFQBnui7RLd0_mAtoP41WtXMNlsLL9uaD3wK2tpcpoZViRWPYeg9gs81goMTzQ0ct370urdwkuNwNMvX5N1yljJIShgXnk75EP6YscOdmvR5FrlLm_5b07k7Ywwd9ZfbuaT9RI6YeUruSlH6-fGeH3Q37Gui1i4QSU5M5uc')\nglobal.set('snipeit_host', 'http://52.39.121.124:8080/api/v1')\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1050,"y":360,"wires":[["79f66479.a1a12c"]]},{"id":"8c7024f1.db9c18","type":"function","z":"137a9152.2c26cf","name":"ash","func":"global.set('profiles', JSON.parse(msg.payload))\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":360,"wires":[[]]},{"id":"79f66479.a1a12c","type":"http request","z":"137a9152.2c26cf","name":"","method":"GET","ret":"txt","url":"https://opol.mybluemix.net/getdata","tls":"","x":1190,"y":360,"wires":[["8c7024f1.db9c18"]]},{"id":"1b3e3fcc.ae735","type":"inject","z":"137a9152.2c26cf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":890,"y":360,"wires":[["d257fdb7.e2e34"]]},{"id":"a69c6a02.8cd758","type":"http response","z":"137a9152.2c26cf","name":"","statusCode":"","headers":{},"x":1470,"y":280,"wires":[]},{"id":"e541ccdd.ed5ee","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/assets/hardwarelist","method":"get","upload":false,"swaggerDoc":"","x":980,"y":280,"wires":[["df99e673.51a6a8"]]},{"id":"9f724ec1.7e882","type":"http request","z":"137a9152.2c26cf","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware/{{{id}}}/checkin","tls":"","x":1310,"y":200,"wires":[["938974db.266cc8"]]},{"id":"938974db.266cc8","type":"http response","z":"137a9152.2c26cf","name":"","statusCode":"","headers":{},"x":1470,"y":200,"wires":[]},{"id":"f990654b.0fd848","type":"function","z":"137a9152.2c26cf","name":"","func":"// msg.assetId = msg.payload[0].assetId\n// msg.userId = msg.payload.userId\nmsg.userId = msg.payload.snipeitId\nnode.warn(msg.userId)\n\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":140,"wires":[["1597af57.5e6c91"]]},{"id":"dd99a720.eeb0e8","type":"cloudantplus out","z":"137a9152.2c26cf","name":"insert profiles","cloudant":"351736bb.017b9a","database":"profiles","service":"_ext_","payonly":true,"operation":"insert","x":380,"y":80,"wires":[]},{"id":"bd122d14.79c47","type":"cloudantplus out","z":"137a9152.2c26cf","name":"insert consumables","cloudant":"351736bb.017b9a","database":"consumables","service":"_ext_","payonly":true,"operation":"insert","x":400,"y":260,"wires":[]},{"id":"d2d67162.b248b","type":"cloudantplus out","z":"137a9152.2c26cf","name":"insert owntracks","cloudant":"351736bb.017b9a","database":"owntracks","service":"_ext_","payonly":true,"operation":"insert","x":300,"y":440,"wires":[]},{"id":"4dcf4a52.c4b924","type":"cloudantplus in","z":"137a9152.2c26cf","name":"Retrieve profiles","cloudant":"351736bb.017b9a","database":"profiles","service":"_ext_","search":"_id_","design":"","index":"","x":390,"y":160,"wires":[["d7229861.84a918"]]},{"id":"686fb972.ebf6d8","type":"cloudantplus in","z":"137a9152.2c26cf","name":"Retrieve consumables","cloudant":"351736bb.017b9a","database":"consumables","service":"_ext_","search":"_id_","design":"","index":"","x":410,"y":340,"wires":[["d1a878df.5b56d8"]]},{"id":"355902d0.8aa28e","type":"cloudantplus in","z":"137a9152.2c26cf","name":"Retrieve owntracks","cloudant":"351736bb.017b9a","database":"owntracks","service":"_ext_","search":"_id_","design":"","index":"","x":400,"y":540,"wires":[["6a286bfc.a823a4"]]},{"id":"3f748ff1.e6362","type":"filter","z":"137a9152.2c26cf","name":"","property":"msg2.payload.username","propertyType":"flow","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"msg2.username","vt":"flow","output":1}],"checkall":"true","outputs":1,"x":1350,"y":140,"wires":[["f990654b.0fd848"]]},{"id":"a2287ef.3c7478","type":"function","z":"6b628289.79f0ac","name":"","func":"msg.headers = {}\nlet config = {\n   client_id: '1de720f9636d0f17d61540fbd9c030c30fae3f1f',\n   client_secret: '33c1bfc4f96d5ca7e68b859af8d58fde36867bbd',\n   grant_type: 'password',\n   username: 'ash@andrewscarpetcleaning.com',\n   password: 'sugarlips42'\n}\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.payload = config\nmsg.redirect = false\nconsole.log(msg)\nreturn msg;\n\n// url string\n// If not configured in the node, this optional property sets the url of the request.\n// method string\n// If not configured in the node, this optional property sets the HTTP method of the request. Must be one of GET, PUT, POST, PATCH or DELETE.\n// headers object\n// Sets the HTTP headers of the request.\n// cookies object\n// If set, can be used to send cookies with the request.\n// payload\n// Sent as the body of the request.\n// rejectUnauthorized\n// If set to false, allows requests to be made to https sites that use self signed certificates.\n// followRedirects","outputs":1,"noerr":0,"x":207.18058395385742,"y":66.65971374511719,"wires":[["e8bf1739.737218"]]},{"id":"e8bf1739.737218","type":"http request","z":"6b628289.79f0ac","name":"","method":"POST","ret":"txt","url":"https://www.humanity.com/oauth2/token.php","tls":"","x":372.1875915527344,"y":67.7152910232544,"wires":[["113e2666.ace95a","f7cd729f.4f457"]]},{"id":"113e2666.ace95a","type":"function","z":"6b628289.79f0ac","name":"","func":"console.log(msg)\nconst _token = JSON.parse(msg.payload)\nconst humanity = {\n    token: _token['access_token']\n}\nglobal.set('humanity', humanity)\nmsg.token = humanity.token\nconsole.log(global.get('humanity').token)\n\nreturn msg;","outputs":1,"noerr":0,"x":531.1805391311646,"y":67.55556869506836,"wires":[[]]},{"id":"f7cd729f.4f457","type":"debug","z":"6b628289.79f0ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":534.1944732666016,"y":106.52083587646484,"wires":[]},{"id":"6edfa716.7635e8","type":"http request","z":"6b628289.79f0ac","name":"","method":"GET","ret":"txt","url":"https://www.humanity.com/api/v2/companies/135324?access_token={{{token}}}","tls":"","x":118.18056106567383,"y":157.7187442779541,"wires":[["cd23e99a.170058"]]},{"id":"cd23e99a.170058","type":"function","z":"6b628289.79f0ac","name":"","func":"const staff = JSON.parse(msg.payload).staff\nglobal.set('humanity_staff', staff)\nreturn msg;","outputs":1,"noerr":0,"x":286.1909942626953,"y":157.44098663330078,"wires":[[]]},{"id":"61d66783.291798","type":"http request","z":"b7b775e0.9589b8","name":"time clocks","method":"GET","ret":"obj","url":"https://www.humanity.com/api/v2/timeclocks?start_date={{{start_date}}}&employee={{{payload.humanityid}}}&access_token={{{token}}}","tls":"","x":670,"y":180,"wires":[["432943a7.ed977c"]]},{"id":"bc4d9ba4.e593b8","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/employees/timeclocks/","method":"get","upload":false,"swaggerDoc":"","x":268.1944465637207,"y":179.78472232818604,"wires":[["ae5fb77b.fc2848"]]},{"id":"d189331b.f2bdb","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/employees/callback","method":"get","upload":false,"swaggerDoc":"","x":210,"y":700,"wires":[["be514d69.c7158"]]},{"id":"be514d69.c7158","type":"http response","z":"b7b775e0.9589b8","name":"callback","statusCode":"200","headers":{},"x":422.81597900390625,"y":690.2118072509766,"wires":[]},{"id":"ae5fb77b.fc2848","type":"function","z":"b7b775e0.9589b8","name":"","func":"\nconsole.log(msg.payload)\nvar start_date = msg.payload.start_date\nmsg.start_date = start_date\n\nmsg.headers = {}\nmsg.token = global.get('humanity').token\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.payload = global.get(msg.payload.username)\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["61d66783.291798"]]},{"id":"42372eaa.cff97","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"","headers":{},"x":1010,"y":180,"wires":[]},{"id":"432943a7.ed977c","type":"change","z":"b7b775e0.9589b8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":180,"wires":[["42372eaa.cff97"]]},{"id":"8f3598cf.98cce8","type":"http request","z":"b7b775e0.9589b8","name":"time clocks","method":"GET","ret":"obj","url":"http://www.humanity.com/api/v2/timeclocks/status/{{{payload.humanityid}}}/0?access_token={{{token}}}","tls":"","x":670,"y":220,"wires":[["6f29581b.2f8568"]]},{"id":"ce5a2afc.becea8","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/employees/clockstatus","method":"get","upload":false,"swaggerDoc":"","x":265,"y":225.7673578262329,"wires":[["783ebe77.7a9bd"]]},{"id":"783ebe77.7a9bd","type":"function","z":"b7b775e0.9589b8","name":"","func":"msg.headers = {}\nmsg.token = global.get('humanity').token\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.payload = global.get( msg.payload.username)\nvar username = msg.payload.username\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["8f3598cf.98cce8"]]},{"id":"ed5ef181.8c703","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"","headers":{},"x":1010,"y":220,"wires":[]},{"id":"6f29581b.2f8568","type":"change","z":"b7b775e0.9589b8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":220,"wires":[["ed5ef181.8c703"]]},{"id":"7e520a02.702984","type":"http request","z":"b7b775e0.9589b8","name":"clock in","method":"POST","ret":"obj","url":"https://www.humanity.com/api/v2/employees/{{{id}}}/clockin?access_token={{{token}}}","tls":"","x":960,"y":300,"wires":[["5fdc0c31.811e94"]]},{"id":"acc6e0a.d214d2","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/employees/clock","method":"get","upload":false,"swaggerDoc":"","x":220,"y":320,"wires":[["33fc9420.e7d1cc"]]},{"id":"5fdc0c31.811e94","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"","headers":{},"x":1130,"y":300,"wires":[]},{"id":"32612bc8.103d44","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/employees/login","method":"post","upload":false,"swaggerDoc":"","x":240,"y":100,"wires":[["d49c0002.2c3fe","3429a70.5f5725a"]]},{"id":"d49c0002.2c3fe","type":"function","z":"b7b775e0.9589b8","name":"","func":"var username = msg.payload.username\nmsg.payload = {\n    key: \"userId\",\n    reservedKey: \"username\",\n    value: username,\n    operator: \"=\"\n}\n\nreturn msg","outputs":1,"noerr":0,"x":430,"y":100,"wires":[[]]},{"id":"3429a70.5f5725a","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"200","headers":{},"x":940,"y":60,"wires":[]},{"id":"2904deed.f1abb2","type":"function","z":"b7b775e0.9589b8","name":"","func":"\nglobal.set(msg.payload.Items[0].username, msg.payload.Items[0])\nconsole.log(global.get(msg.payload.Items[0].username))\nmsg.topic = \"\"\nconsole.log(global.get('ash2'))\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":100,"wires":[["3429a70.5f5725a"]]},{"id":"e68f08f0.6c80b8","type":"inject","z":"b7b775e0.9589b8","name":"","topic":"init","payload":"","payloadType":"date","repeat":"2700","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":620,"wires":[[]]},{"id":"23b1048e.9a11dc","type":"inject","z":"b7b775e0.9589b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":171.00690078735352,"y":566.9097957611084,"wires":[["f550067a.ca4228"]]},{"id":"3bc93fc8.70332","type":"http request","z":"b7b775e0.9589b8","name":"employees","method":"GET","ret":"obj","url":"https://www.humanity.com/api/v2/companies/135324?access_token={{{token}}}","tls":"","x":541.8367233276367,"y":591.0486316680908,"wires":[[]]},{"id":"f550067a.ca4228","type":"function","z":"b7b775e0.9589b8","name":"","func":"msg.headers = {}\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.token =  global.get('humanity').token\nconsole.log(msg)\nreturn msg;","outputs":1,"noerr":0,"x":350.65618896484375,"y":570.5660095214844,"wires":[["3bc93fc8.70332"]]},{"id":"b921c2c3.88ddb","type":"http request","z":"b7b775e0.9589b8","name":"clock out","method":"PUT","ret":"obj","url":"https://www.humanity.com/api/v2/employees/4041624/clockout?access_token={{{token}}}","tls":"","x":620,"y":400,"wires":[["d2282a70.305f88"]]},{"id":"5f54de03.a6a5d","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/employees/clockout","method":"put","upload":false,"swaggerDoc":"","x":220,"y":393.75694274902344,"wires":[["6cd53475.e1492c"]]},{"id":"6cd53475.e1492c","type":"function","z":"b7b775e0.9589b8","name":"","func":"// msg.headers = {}\nmsg.token = global.get('humanity').token\n// msg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nconsole.log(msg.payload.username)\nmsg.payload = global.get( msg.payload.username)\nvar username = msg.payload.username\nreturn msg;\n\n// msg.headers = {}\n\n// msg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\n// msg.redirect = false\n// msg.token =  global.get('humanity').token\n// // msg.id = msg.payload.id\n// console.log(msg.payload.id)\n// var username = msg.payload.username\n// console.log(username)\n// msg.payload = {\n//     key: \"userId\",\n//     reservedKey: \"username\",\n//     value: username,\n//     operator: \"=\"\n// }\n\n// return msg;","outputs":1,"noerr":0,"x":450,"y":400,"wires":[["b921c2c3.88ddb"]]},{"id":"d2282a70.305f88","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"200","headers":{},"x":800,"y":400,"wires":[]},{"id":"e1837d4b.c38a6","type":"http request","z":"b7b775e0.9589b8","name":"time clocks","method":"GET","ret":"obj","url":"http://www.humanity.com/api/v2/timeclocks/status/{{{payload.humanityid}}}/0?access_token={{{token}}}","tls":"","x":610,"y":320,"wires":[["6211e66.c93c118"]]},{"id":"33fc9420.e7d1cc","type":"function","z":"b7b775e0.9589b8","name":"","func":"msg.headers = {}\nmsg.token = global.get('humanity').token\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.uname = msg.payload.username\nmsg.payload = global.get( msg.payload.username)\nmsg.id = global.get( msg.payload.username).humanityid\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["e1837d4b.c38a6"]]},{"id":"6211e66.c93c118","type":"switch","z":"b7b775e0.9589b8","name":"","property":"payload.data","propertyType":"msg","rules":[{"t":"eq","v":"out","vt":"str"},{"t":"eq","v":"in","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":320,"wires":[["7e520a02.702984"],["8534aca0.645a1"]]},{"id":"8534aca0.645a1","type":"http request","z":"b7b775e0.9589b8","name":"clock out","method":"PUT","ret":"obj","url":"https://www.humanity.com/api/v2/employees/{{{payload.humanityid}}}/clockout?access_token={{{token}}}","tls":"","x":960,"y":340,"wires":[["69b54032.2667e"]]},{"id":"69b54032.2667e","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"","headers":{},"x":1130,"y":340,"wires":[]},{"id":"e413fe95.2df9b","type":"debug","z":"b7b775e0.9589b8","name":"","active":false,"complete":false,"x":1600,"y":579,"wires":[]},{"id":"4ee7efbe.5f13b","type":"function","z":"b7b775e0.9589b8","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nvar now = Date();\nvar message = \"\";\ndata = JSON.parse(msg.payload);\n\nif ( (data._type == \"location\") && (data.event != undefined ) ) {\n\t\n\t\tif ( data.event == \"enter\" ) {\t\t\t\n\t\t\tmessage = \"Entering Location: \";\n\t\t} else {\n\t\t\tmessage = \"Leaving Location: \";\n\t\t}\n\t\t\n\t\tif ( data.desc != undefined ) {\n\t\t\t// Shared waypoint, comes with a description:\n\t\t\t\tmessage += data.desc;\n \t\t} else {\n \t\t\t// No description is set, non shared \"private\" waypoint\n \t\t\t\tmessage += data.lat + \",\" + data.lon;\n \t\t}\n }\n\nmsg.payload = message;\n//console.log(msg.payload);\n\nreturn msg;","outputs":1,"x":1441,"y":704,"wires":[["9ebe6278.abad4","cd8f0100.7ae1d"]]},{"id":"9ebe6278.abad4","type":"switch","z":"b7b775e0.9589b8","name":"","property":"payload","rules":[{"t":"cont","v":"Location"}],"checkall":"true","outputs":1,"x":1602,"y":704,"wires":[[]]},{"id":"cd8f0100.7ae1d","type":"debug","z":"b7b775e0.9589b8","name":"","active":true,"complete":false,"x":1601,"y":632,"wires":[]},{"id":"bab12eeb.e70c9","type":"inject","z":"b7b775e0.9589b8","name":"Test Shared Waypoint","topic":"","payload":"{\"_type\": \"location\", \"lat\": \"xxxx\", \"lon\": \"yyyy\", \"tst\": \"1391715492\", \"acc\": \"500.0\", \"batt\": \"48\", \"desc\": \"Shared Test Waypoint\", \"event\": \"enter\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":1246,"y":704,"wires":[["4ee7efbe.5f13b"]]},{"id":"8e8bac3d.abf8a","type":"inject","z":"b7b775e0.9589b8","name":"Test Private Waypoint","topic":"","payload":"{\"_type\": \"location\", \"lat\": \"xxxx\", \"lon\": \"yyyy\", \"tst\": \"1391715492\", \"acc\": \"500.0\", \"batt\": \"48\", \"event\": \"enter\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":1245,"y":769,"wires":[["4ee7efbe.5f13b"]]},{"id":"6514cab0.f6c214","type":"DataIn","z":"137a9152.2c26cf","collection":"8c5fc8f9.567368","name":"checkoutlist","update":false,"path":"/assets/checkoutlist","x":1910,"y":100,"wires":[]},{"id":"27b69b3b.311174","type":"DataOut","z":"137a9152.2c26cf","collection":"8c5fc8f9.567368","name":"ashdowning@gmail.com","path":"/","error":false,"x":1510,"y":40,"wires":[[]]},{"id":"5de1eed3.c088f","type":"debug","z":"137a9152.2c26cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1790,"y":200,"wires":[]},{"id":"aa2a9101.4f55c","type":"function","z":"137a9152.2c26cf","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":80,"wires":[[]]},{"id":"4cfc3066.3b109","type":"inject","z":"137a9152.2c26cf","name":"","topic":"","payload":"{\"assetId\":\"1\", \"username\":\"ash\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":100,"wires":[["fcc8bb03.f29648"]]},{"id":"6609aba9.991bb4","type":"inject","z":"3c1f6dd2.c28162","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1140,"wires":[[]]},{"id":"8d6729b9.26bbc8","type":"async","z":"3c1f6dd2.c28162","name":"","async":"\nreturn msg;","outputs":1,"x":600,"y":1240,"wires":[[]]},{"id":"7021c36d.2ca18c","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":230,"y":1240,"wires":[["798e5b1a.aceed4","6ede86d4.e36918"]]},{"id":"798e5b1a.aceed4","type":"debug","z":"3c1f6dd2.c28162","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":1260,"wires":[]},{"id":"6ede86d4.e36918","type":"http response","z":"3c1f6dd2.c28162","name":"","statusCode":"","headers":{},"x":380,"y":1160,"wires":[]},{"id":"97a0fb40.858198","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/putprofiles","method":"get","upload":false,"swaggerDoc":"","x":210,"y":100,"wires":[["45c6d696.e6c468","39d59590.99432a"]]},{"id":"39d59590.99432a","type":"http response","z":"3c1f6dd2.c28162","name":"profiles inserted","statusCode":"","headers":{},"x":700,"y":100,"wires":[]},{"id":"3e9f147.13588ec","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/getprofiles","method":"get","upload":false,"swaggerDoc":"","x":210,"y":160,"wires":[["ac18664a.ee2218"]]},{"id":"3a6ea6f2.0abd4a","type":"http response","z":"3c1f6dd2.c28162","name":"return profiles","statusCode":"","headers":{},"x":700,"y":160,"wires":[]},{"id":"2a17081c.e4cbd8","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/putconsumables","method":"get","upload":false,"swaggerDoc":"","x":230,"y":260,"wires":[["f6e75717.f180c8","521c9b33.c00a84"]]},{"id":"521c9b33.c00a84","type":"http response","z":"3c1f6dd2.c28162","name":"consumables inserted","statusCode":"","headers":{},"x":720,"y":260,"wires":[]},{"id":"cc25144d.d7d468","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/getconsumables","method":"get","upload":false,"swaggerDoc":"","x":230,"y":320,"wires":[["76174945.adbd78"]]},{"id":"3d172e73.ecaa02","type":"http response","z":"3c1f6dd2.c28162","name":"return consumables","statusCode":"","headers":{},"x":710,"y":320,"wires":[]},{"id":"25cb4197.69a2fe","type":"http response","z":"3c1f6dd2.c28162","name":"owntracks inserted","statusCode":"","headers":{},"x":710,"y":420,"wires":[]},{"id":"a3ca2277.cf09f","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/getowntracks","method":"get","upload":false,"swaggerDoc":"","x":220,"y":480,"wires":[["eadc3dbf.b750b"]]},{"id":"4173a66b.9a73f8","type":"http response","z":"3c1f6dd2.c28162","name":"return owntracks","statusCode":"","headers":{},"x":700,"y":480,"wires":[]},{"id":"42d93305.974bbc","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/assets/checkouthardware","method":"get","upload":false,"swaggerDoc":"","x":240,"y":640,"wires":[["6765f01.8d6ec1"]]},{"id":"ce9419df.c13b78","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/assets/checkinhardware","method":"get","upload":false,"swaggerDoc":"","x":190,"y":700,"wires":[["92aadb5a.e399e8"]]},{"id":"6765f01.8d6ec1","type":"function","z":"3c1f6dd2.c28162","name":"ash","func":"msg.headers = {}\nvar msg2 = msg \nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nmsg.assetId = msg.payload.assetId\nmsg.username = msg.payload.username\nnode.warn(msg.username)\nmsg.snipeit_host = global.get('snipeit_host')\nmsg2 = msg.payload = global.get('profiles')\n\nreturn [msg, msg2]","outputs":1,"noerr":0,"x":440,"y":640,"wires":[["bd42a88f.58cf48"]]},{"id":"696aba6f.5b8f94","type":"http response","z":"3c1f6dd2.c28162","name":"","statusCode":"","headers":{},"x":1050,"y":640,"wires":[]},{"id":"92aadb5a.e399e8","type":"function","z":"3c1f6dd2.c28162","name":"ash","func":"msg.headers = {}\nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nconsole.log(msg.payload.assetId)\nmsg.id = msg.payload.assetId\nmsg.snipeit_host = global.get('snipeit_host')\n\n console.log(msg.id)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":700,"wires":[["bcb68346.64526"]]},{"id":"778deea2.04fe6","type":"http request","z":"3c1f6dd2.c28162","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware/{{{assetId}}}/checkout?assigned_user={{{userId}}}&checkout_to_type=user","tls":"","x":840,"y":640,"wires":[["696aba6f.5b8f94"]]},{"id":"d4013be2.b7bed8","type":"function","z":"3c1f6dd2.c28162","name":"setup /assets/hardwarelist","func":"msg.headers = {}\nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nmsg.snipeit_host = global.get('snipeit_host')\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":780,"wires":[["6c684225.c276fc"]]},{"id":"6c684225.c276fc","type":"http request","z":"3c1f6dd2.c28162","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware","tls":"","x":690,"y":780,"wires":[["e5bab1b7.b1051","aab938a6.743978"]]},{"id":"3244a8b1.442018","type":"function","z":"3c1f6dd2.c28162","name":"set snipeit shit","func":"global.set('snipeit_token', 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjQ0ODQ5ZmVjYmQ3YTBiNWUxMjg4MzUzMjZkZjdkNDM0ZjA1YjVmNWVmZjM0MWQ3NTVjM2NmMGVhODIxODNjNjAyNWQ4NWE4OTE2ZWNiMjlmIn0.eyJhdWQiOiIxIiwianRpIjoiNDQ4NDlmZWNiZDdhMGI1ZTEyODgzNTMyNmRmN2Q0MzRmMDViNWY1ZWZmMzQxZDc1NWMzY2YwZWE4MjE4M2M2MDI1ZDg1YTg5MTZlY2IyOWYiLCJpYXQiOjE1MjgzMDkyMDgsIm5iZiI6MTUyODMwOTIwOCwiZXhwIjoxNTU5ODQ1MjA4LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.yv1QL0Vbf4EupDdI-9U6somSbALryrk5UXX5cMV_iNILSye7rKqruoLurDghzt6-2PboAHffoiWnBGRp36vdJ5oUTNKWPSYl-PQqLkDVWjinpcQ0jHZM75lLausxkIknDi4bFlXPgWHtewotLUQKdDW-Nkij6EckVUZbn2lOFw2bi2HOGzENVl7H8VHaBXlQw_cBpT7w4K1FaHkYE2qECK-B2GZ0VlVw3sBDESbyT0sb-HRzt-6R1icItzMHUXz0sbJox3LyfGJ3X4Z3-_tKk3mxd9TXldWf7HTdk5d65r9YBCl770Ha1rAKhwyGGvMU6jBfQemGcklzooivRfVjzhRD5BlpJNqus7NquyEYacPdmm7A4Tp3bbzyxNeh_7jlVjqsf7CrWy78nFUdrrtE6gBavMwAz8AE7FScH6NzMjCekTU-pvEuUjEmTwj5p_NCUt8Yjwo9u66UzlgVf45wsG3qngL50D097rTzdA97-XGlt-csbZ_m7v2lJXNjR0yxM29aNFQBnui7RLd0_mAtoP41WtXMNlsLL9uaD3wK2tpcpoZViRWPYeg9gs81goMTzQ0ct370urdwkuNwNMvX5N1yljJIShgXnk75EP6YscOdmvR5FrlLm_5b07k7Ywwd9ZfbuaT9RI6YeUruSlH6-fGeH3Q37Gui1i4QSU5M5uc')\nglobal.set('snipeit_host', 'http://52.39.121.124:8080/api/v1')\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":860,"wires":[["ea804714.ecb0b8"]]},{"id":"8d8a6825.0dd138","type":"function","z":"3c1f6dd2.c28162","name":"ash","func":"global.set('profiles', msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":860,"wires":[[]]},{"id":"ea804714.ecb0b8","type":"http request","z":"3c1f6dd2.c28162","name":"","method":"GET","ret":"txt","url":"https://opol.mybluemix.net/getdata","tls":"","x":510,"y":860,"wires":[["8d8a6825.0dd138"]]},{"id":"3159f805.1fe2c8","type":"inject","z":"3c1f6dd2.c28162","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":860,"wires":[["3244a8b1.442018"]]},{"id":"e5bab1b7.b1051","type":"http response","z":"3c1f6dd2.c28162","name":"","statusCode":"","headers":{},"x":850,"y":780,"wires":[]},{"id":"7cf26e89.97134","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/assets/hardwarelist","method":"get","upload":false,"swaggerDoc":"","x":210,"y":780,"wires":[["d4013be2.b7bed8"]]},{"id":"bcb68346.64526","type":"http request","z":"3c1f6dd2.c28162","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware/{{{id}}}/checkin","tls":"","x":540,"y":700,"wires":[["b5760eee.973bc"]]},{"id":"b5760eee.973bc","type":"http response","z":"3c1f6dd2.c28162","name":"","statusCode":"","headers":{},"x":700,"y":700,"wires":[]},{"id":"e56c23d2.bfab1","type":"function","z":"3c1f6dd2.c28162","name":"","func":"// msg.assetId = msg.payload[0].assetId\n// msg.userId = msg.payload.userId\nmsg.userId = msg.payload.snipeitId\nnode.warn(msg.userId)\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":640,"wires":[["778deea2.04fe6"]]},{"id":"9fe19aa7.450a68","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/employees/login","method":"post","upload":false,"swaggerDoc":"","x":1030,"y":80,"wires":[["5cfb5cdf.4e7d84","d2b4ba13.a6ddb8"]]},{"id":"f8d7528f.5ad04","type":"function","z":"3c1f6dd2.c28162","name":"","func":"// var username = msg.payload.username\n// // msg.payload = {\n// //     key: \"userId\",\n// //     reservedKey: \"username\",\n// //     value: username,\n// //     operator: \"=\"\n// // }\n\n// return msgurn msg;","outputs":1,"noerr":0,"x":1110,"y":160,"wires":[[]]},{"id":"4d174621.49a438","type":"function","z":"3c1f6dd2.c28162","name":"ashdowning@gmail.com","func":"\nfor(var profile in msg.payload){\n    if(profile.username == msg.payload.username){\n        // global.set(profile.username, msg.payload[0])\n        return msg\n    }\n}\nmsg.payload = '404'\nreturn msg","outputs":1,"noerr":0,"x":1590,"y":40,"wires":[[]]},{"id":"c389e6fe.0ed538","type":"http response","z":"3c1f6dd2.c28162","name":"","statusCode":"","headers":{},"x":1530,"y":80,"wires":[]},{"id":"45c6d696.e6c468","type":"cloudantplus out","z":"3c1f6dd2.c28162","name":"insert profiles","cloudant":"351736bb.017b9a","database":"profiles","service":"_ext_","payonly":true,"operation":"insert","x":430,"y":80,"wires":[]},{"id":"f6e75717.f180c8","type":"cloudantplus out","z":"3c1f6dd2.c28162","name":"insert consumables","cloudant":"351736bb.017b9a","database":"consumables","service":"_ext_","payonly":true,"operation":"insert","x":450,"y":240,"wires":[]},{"id":"f16f5f7d.1cf81","type":"cloudantplus out","z":"3c1f6dd2.c28162","name":"insert owntracks","cloudant":"351736bb.017b9a","database":"owntracks","service":"Opol6-cloudantNoSQLDB","payonly":true,"operation":"insert","x":440,"y":400,"wires":[]},{"id":"ac18664a.ee2218","type":"cloudantplus in","z":"3c1f6dd2.c28162","name":"Retrieve profiles","cloudant":"351736bb.017b9a","database":"profiles","service":"_ext_","search":"_id_","design":"","index":"","x":440,"y":160,"wires":[["3a6ea6f2.0abd4a"]]},{"id":"76174945.adbd78","type":"cloudantplus in","z":"3c1f6dd2.c28162","name":"Retrieve consumables","cloudant":"351736bb.017b9a","database":"consumables","service":"Opol6-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":460,"y":320,"wires":[["3d172e73.ecaa02"]]},{"id":"eadc3dbf.b750b","type":"cloudantplus in","z":"3c1f6dd2.c28162","name":"Retrieve owntracks","cloudant":"351736bb.017b9a","database":"owntracks","service":"Opol6-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":450,"y":480,"wires":[["4173a66b.9a73f8"]]},{"id":"bd42a88f.58cf48","type":"filter","z":"3c1f6dd2.c28162","name":"","outputs":2,"x":580,"y":640,"wires":[["e56c23d2.bfab1"],[]]},{"id":"482d2aeb.c319c4","type":"inject","z":"3c1f6dd2.c28162","name":"","topic":"","payload":"{\"username\" :\"ash2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":40,"wires":[[]]},{"id":"ea31ec49.64b08","type":"inject","z":"3c1f6dd2.c28162","name":"insert profile","topic":"profiles","payload":"{\"username\":\"ash2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":60,"wires":[["45c6d696.e6c468"]]},{"id":"5cfb5cdf.4e7d84","type":"debug","z":"3c1f6dd2.c28162","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1550,"y":120,"wires":[]},{"id":"dbc74d2b.01b69","type":"inject","z":"3c1f6dd2.c28162","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":940,"wires":[["d4013be2.b7bed8"]]},{"id":"aab938a6.743978","type":"debug","z":"3c1f6dd2.c28162","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":840,"wires":[]},{"id":"d2b4ba13.a6ddb8","type":"cloudantplus in","z":"3c1f6dd2.c28162","name":"","cloudant":"351736bb.017b9a","database":"profiles","service":"_ext_","search":"_id_","design":"","index":"","x":1280,"y":80,"wires":[["5cfb5cdf.4e7d84","c389e6fe.0ed538","4d174621.49a438"]]},{"id":"75ea7149.c7e7a","type":"http request","z":"c1ded861.e40118","name":"time clocks","method":"GET","ret":"obj","url":"https://www.humanity.com/api/v2/timeclocks?start_date={{{start_date}}}&employee={{{payload.humanityid}}}&access_token={{{token}}}","tls":"","x":710,"y":140,"wires":[["47529504.cc084c"]]},{"id":"9aba837.164148","type":"http in","z":"c1ded861.e40118","name":"","url":"/employees/timeclocks/","method":"get","upload":false,"swaggerDoc":"","x":308.1944465637207,"y":139.78472232818604,"wires":[["aa7ce372.8a2e2"]]},{"id":"46b55a98.d78f24","type":"http in","z":"c1ded861.e40118","name":"","url":"/employees/callback","method":"get","upload":false,"swaggerDoc":"","x":250,"y":660,"wires":[["2a4a6617.33136a"]]},{"id":"2a4a6617.33136a","type":"http response","z":"c1ded861.e40118","name":"callback","statusCode":"200","headers":{},"x":462.81597900390625,"y":650.2118072509766,"wires":[]},{"id":"aa7ce372.8a2e2","type":"function","z":"c1ded861.e40118","name":"","func":"\nconsole.log(msg.payload)\nvar start_date = msg.payload.start_date\nmsg.start_date = start_date\n\nmsg.headers = {}\nmsg.token = global.get('humanity').token\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.payload = global.get(msg.payload.username)\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["75ea7149.c7e7a"]]},{"id":"76ba57e1.213f68","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":1050,"y":140,"wires":[]},{"id":"47529504.cc084c","type":"change","z":"c1ded861.e40118","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":140,"wires":[["76ba57e1.213f68"]]},{"id":"69fbc3ac.a0e54c","type":"http request","z":"c1ded861.e40118","name":"time clocks","method":"GET","ret":"obj","url":"http://www.humanity.com/api/v2/timeclocks/status/{{{payload.humanityid}}}/0?access_token={{{token}}}","tls":"","x":710,"y":180,"wires":[["3b8cf663.3be9fa"]]},{"id":"64ad8f83.9f096","type":"http in","z":"c1ded861.e40118","name":"","url":"/employees/clockstatus","method":"get","upload":false,"swaggerDoc":"","x":305,"y":185.7673578262329,"wires":[["ee4911ef.a1a8a"]]},{"id":"ee4911ef.a1a8a","type":"function","z":"c1ded861.e40118","name":"","func":"msg.headers = {}\nmsg.token = global.get('humanity').token\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.payload = global.get( msg.payload.username)\nvar username = msg.payload.username\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["69fbc3ac.a0e54c"]]},{"id":"1d7f64d2.ef91bb","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":1050,"y":180,"wires":[]},{"id":"3b8cf663.3be9fa","type":"change","z":"c1ded861.e40118","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":180,"wires":[["1d7f64d2.ef91bb"]]},{"id":"338318d1.707d58","type":"http request","z":"c1ded861.e40118","name":"clock in","method":"POST","ret":"obj","url":"https://www.humanity.com/api/v2/employees/{{{id}}}/clockin?access_token={{{token}}}","tls":"","x":1000,"y":260,"wires":[["d1eb2bc1.d9f748"]]},{"id":"282cf8e7.7eb588","type":"http in","z":"c1ded861.e40118","name":"","url":"/employees/clock","method":"get","upload":false,"swaggerDoc":"","x":260,"y":280,"wires":[["9a853a21.3cfad8"]]},{"id":"d1eb2bc1.d9f748","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":1170,"y":260,"wires":[]},{"id":"a54cdc04.7b279","type":"http in","z":"c1ded861.e40118","name":"","url":"/employees/login","method":"post","upload":false,"swaggerDoc":"","x":280,"y":60,"wires":[["32c2c8be.963678","ee18903e.37e06"]]},{"id":"32c2c8be.963678","type":"function","z":"c1ded861.e40118","name":"","func":"var username = msg.payload.username\nmsg.payload = {\n    key: \"userId\",\n    reservedKey: \"username\",\n    value: username,\n    operator: \"=\"\n}\n\nreturn msg","outputs":1,"noerr":0,"x":470,"y":60,"wires":[[]]},{"id":"ee18903e.37e06","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"200","headers":{},"x":980,"y":20,"wires":[]},{"id":"bff0b238.33ba3","type":"function","z":"c1ded861.e40118","name":"","func":"\nglobal.set(msg.payload.Items[0].username, msg.payload.Items[0])\nconsole.log(global.get(msg.payload.Items[0].username))\nmsg.topic = \"\"\nconsole.log(global.get('ash2'))\nreturn msg;\n","outputs":1,"noerr":0,"x":830,"y":60,"wires":[["ee18903e.37e06"]]},{"id":"5ebe79e9.e9c178","type":"inject","z":"c1ded861.e40118","name":"","topic":"init","payload":"","payloadType":"date","repeat":"2700","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":580,"wires":[[]]},{"id":"a52ffea4.59605","type":"inject","z":"c1ded861.e40118","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":211.00690078735352,"y":526.9097957611084,"wires":[["2c08da4b.799e56"]]},{"id":"a227c471.fc9a58","type":"http request","z":"c1ded861.e40118","name":"employees","method":"GET","ret":"obj","url":"https://www.humanity.com/api/v2/companies/135324?access_token={{{token}}}","tls":"","x":581.8367233276367,"y":551.0486316680908,"wires":[[]]},{"id":"2c08da4b.799e56","type":"function","z":"c1ded861.e40118","name":"","func":"msg.headers = {}\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.token =  global.get('humanity').token\nconsole.log(msg)\nreturn msg;","outputs":1,"noerr":0,"x":390.65618896484375,"y":530.5660095214844,"wires":[["a227c471.fc9a58"]]},{"id":"2455f852.7dc688","type":"http request","z":"c1ded861.e40118","name":"clock out","method":"PUT","ret":"obj","url":"https://www.humanity.com/api/v2/employees/4041624/clockout?access_token={{{token}}}","tls":"","x":660,"y":360,"wires":[["adedc4f.2295438"]]},{"id":"e85e210a.90166","type":"http in","z":"c1ded861.e40118","name":"","url":"/employees/clockout","method":"put","upload":false,"swaggerDoc":"","x":260,"y":353.75694274902344,"wires":[["1f6f62b5.a93d2d"]]},{"id":"1f6f62b5.a93d2d","type":"function","z":"c1ded861.e40118","name":"","func":"// msg.headers = {}\nmsg.token = global.get('humanity').token\n// msg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nconsole.log(msg.payload.username)\nmsg.payload = global.get( msg.payload.username)\nvar username = msg.payload.username\nreturn msg;\n\n// msg.headers = {}\n\n// msg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\n// msg.redirect = false\n// msg.token =  global.get('humanity').token\n// // msg.id = msg.payload.id\n// console.log(msg.payload.id)\n// var username = msg.payload.username\n// console.log(username)\n// msg.payload = {\n//     key: \"userId\",\n//     reservedKey: \"username\",\n//     value: username,\n//     operator: \"=\"\n// }\n\n// return msg;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["2455f852.7dc688"]]},{"id":"adedc4f.2295438","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"200","headers":{},"x":840,"y":360,"wires":[]},{"id":"3a829720.ae1f98","type":"http request","z":"c1ded861.e40118","name":"time clocks","method":"GET","ret":"obj","url":"http://www.humanity.com/api/v2/timeclocks/status/{{{payload.humanityid}}}/0?access_token={{{token}}}","tls":"","x":650,"y":280,"wires":[["1812621b.88285e"]]},{"id":"9a853a21.3cfad8","type":"function","z":"c1ded861.e40118","name":"","func":"msg.headers = {}\nmsg.token = global.get('humanity').token\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.uname = msg.payload.username\nmsg.payload = global.get( msg.payload.username)\nmsg.id = global.get( msg.payload.username).humanityid\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["3a829720.ae1f98"]]},{"id":"1812621b.88285e","type":"switch","z":"c1ded861.e40118","name":"","property":"payload.data","propertyType":"msg","rules":[{"t":"eq","v":"out","vt":"str"},{"t":"eq","v":"in","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":280,"wires":[["338318d1.707d58"],["6bd85be8.d71ca4"]]},{"id":"6bd85be8.d71ca4","type":"http request","z":"c1ded861.e40118","name":"clock out","method":"PUT","ret":"obj","url":"https://www.humanity.com/api/v2/employees/{{{payload.humanityid}}}/clockout?access_token={{{token}}}","tls":"","x":1000,"y":300,"wires":[["d90deb0b.9029c8"]]},{"id":"d90deb0b.9029c8","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":1170,"y":300,"wires":[]},{"id":"ca5bb79d.724158","type":"debug","z":"c1ded861.e40118","name":"","active":false,"complete":false,"x":1640,"y":539,"wires":[]},{"id":"e19d591f.9551e8","type":"function","z":"c1ded861.e40118","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nvar now = Date();\nvar message = \"\";\ndata = JSON.parse(msg.payload);\n\nif ( (data._type == \"location\") && (data.event != undefined ) ) {\n\t\n\t\tif ( data.event == \"enter\" ) {\t\t\t\n\t\t\tmessage = \"Entering Location: \";\n\t\t} else {\n\t\t\tmessage = \"Leaving Location: \";\n\t\t}\n\t\t\n\t\tif ( data.desc != undefined ) {\n\t\t\t// Shared waypoint, comes with a description:\n\t\t\t\tmessage += data.desc;\n \t\t} else {\n \t\t\t// No description is set, non shared \"private\" waypoint\n \t\t\t\tmessage += data.lat + \",\" + data.lon;\n \t\t}\n }\n\nmsg.payload = message;\n//console.log(msg.payload);\n\nreturn msg;","outputs":1,"x":1481,"y":664,"wires":[["dc4ac36e.f58f9","298cd229.b95aae"]]},{"id":"dc4ac36e.f58f9","type":"switch","z":"c1ded861.e40118","name":"","property":"payload","rules":[{"t":"cont","v":"Location"}],"checkall":"true","outputs":1,"x":1642,"y":664,"wires":[[]]},{"id":"298cd229.b95aae","type":"debug","z":"c1ded861.e40118","name":"","active":true,"complete":false,"x":1641,"y":592,"wires":[]},{"id":"fceea067.98e25","type":"inject","z":"c1ded861.e40118","name":"Test Shared Waypoint","topic":"","payload":"{\"_type\": \"location\", \"lat\": \"xxxx\", \"lon\": \"yyyy\", \"tst\": \"1391715492\", \"acc\": \"500.0\", \"batt\": \"48\", \"desc\": \"Shared Test Waypoint\", \"event\": \"enter\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":1286,"y":664,"wires":[["e19d591f.9551e8"]]},{"id":"b9ea5434.1aa908","type":"inject","z":"c1ded861.e40118","name":"Test Private Waypoint","topic":"","payload":"{\"_type\": \"location\", \"lat\": \"xxxx\", \"lon\": \"yyyy\", \"tst\": \"1391715492\", \"acc\": \"500.0\", \"batt\": \"48\", \"event\": \"enter\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":1285,"y":729,"wires":[["e19d591f.9551e8"]]},{"id":"52755d8b.b3f304","type":"http in","z":"c1ded861.e40118","name":"","url":"/putprofiles","method":"get","upload":false,"swaggerDoc":"","x":1240,"y":900,"wires":[["21e83c13.06f9b4","d68b0e35.a44b5"]]},{"id":"d68b0e35.a44b5","type":"http response","z":"c1ded861.e40118","name":"profiles inserted","statusCode":"","headers":{},"x":1740,"y":900,"wires":[]},{"id":"c687b480.ab8bd8","type":"http in","z":"c1ded861.e40118","name":"","url":"/getprofiles","method":"get","upload":false,"swaggerDoc":"","x":1240,"y":960,"wires":[["a903edb1.ae6db"]]},{"id":"5f005c22.fb5684","type":"http response","z":"c1ded861.e40118","name":"return profiles","statusCode":"","headers":{},"x":1740,"y":960,"wires":[]},{"id":"4d0726cf.bdb0e8","type":"http in","z":"c1ded861.e40118","name":"","url":"/putconsumables","method":"get","upload":false,"swaggerDoc":"","x":1260,"y":1080,"wires":[["cc54b82c.95c3b8","d184941d.4a17d8"]]},{"id":"d184941d.4a17d8","type":"http response","z":"c1ded861.e40118","name":"consumables inserted","statusCode":"","headers":{},"x":1760,"y":1080,"wires":[]},{"id":"e4e0e333.a4a9d","type":"http in","z":"c1ded861.e40118","name":"","url":"/getconsumables","method":"get","upload":false,"swaggerDoc":"","x":1260,"y":1140,"wires":[["d02f2772.3ebda8"]]},{"id":"9ade3308.8aec7","type":"http response","z":"c1ded861.e40118","name":"return consumables","statusCode":"","headers":{},"x":1750,"y":1140,"wires":[]},{"id":"f9b88a7c.b2b4d8","type":"http in","z":"c1ded861.e40118","name":"","url":"/assets/checkouthardware","method":"get","upload":false,"swaggerDoc":"","x":2090,"y":940,"wires":[["568c9c2c.56adc4"]]},{"id":"7cea314e.32e8e","type":"http in","z":"c1ded861.e40118","name":"","url":"/assets/checkinhardware","method":"get","upload":false,"swaggerDoc":"","x":2040,"y":1000,"wires":[["62a8c6fe.e1a5c8"]]},{"id":"568c9c2c.56adc4","type":"function","z":"c1ded861.e40118","name":"ash","func":"msg.headers = {}\nvar msg2 = msg \nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nmsg.assetId = msg.payload.assetId\nmsg.username = msg.payload.username\nnode.warn(msg.username)\nmsg.snipeit_host = global.get('snipeit_host')\nmsg2 = msg.payload = global.get('profiles')\n\nreturn [msg, msg2]","outputs":1,"noerr":0,"x":2300,"y":940,"wires":[["421a159f.9a7b7c"]]},{"id":"361e1790.c2eac8","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":2860,"y":940,"wires":[]},{"id":"62a8c6fe.e1a5c8","type":"function","z":"c1ded861.e40118","name":"ash","func":"msg.headers = {}\nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nconsole.log(msg.payload.assetId)\nmsg.id = msg.payload.assetId\nmsg.snipeit_host = global.get('snipeit_host')\n\n console.log(msg.id)\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":1000,"wires":[["6221dcf3.b22934"]]},{"id":"86f5ddc.e2ade2","type":"http request","z":"c1ded861.e40118","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware/{{{assetId}}}/checkout?assigned_user={{{userId}}}&checkout_to_type=user","tls":"","x":2700,"y":940,"wires":[["361e1790.c2eac8","da1c07bb.8d3658"]]},{"id":"75b07c21.6dc4b4","type":"function","z":"c1ded861.e40118","name":"ash","func":"msg.headers = {}\nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nmsg.snipeit_host = global.get('snipeit_host')\nmsg.mock = false\nreturn msg;","outputs":1,"noerr":0,"x":2260,"y":1080,"wires":[["9967b583.55f868"]]},{"id":"9967b583.55f868","type":"http request","z":"c1ded861.e40118","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware","tls":"","x":2400,"y":1080,"wires":[["16836724.f6a1d9"]]},{"id":"91ad9e91.6c282","type":"function","z":"c1ded861.e40118","name":"ash","func":"global.set('snipeit_token', 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjQ0ODQ5ZmVjYmQ3YTBiNWUxMjg4MzUzMjZkZjdkNDM0ZjA1YjVmNWVmZjM0MWQ3NTVjM2NmMGVhODIxODNjNjAyNWQ4NWE4OTE2ZWNiMjlmIn0.eyJhdWQiOiIxIiwianRpIjoiNDQ4NDlmZWNiZDdhMGI1ZTEyODgzNTMyNmRmN2Q0MzRmMDViNWY1ZWZmMzQxZDc1NWMzY2YwZWE4MjE4M2M2MDI1ZDg1YTg5MTZlY2IyOWYiLCJpYXQiOjE1MjgzMDkyMDgsIm5iZiI6MTUyODMwOTIwOCwiZXhwIjoxNTU5ODQ1MjA4LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.yv1QL0Vbf4EupDdI-9U6somSbALryrk5UXX5cMV_iNILSye7rKqruoLurDghzt6-2PboAHffoiWnBGRp36vdJ5oUTNKWPSYl-PQqLkDVWjinpcQ0jHZM75lLausxkIknDi4bFlXPgWHtewotLUQKdDW-Nkij6EckVUZbn2lOFw2bi2HOGzENVl7H8VHaBXlQw_cBpT7w4K1FaHkYE2qECK-B2GZ0VlVw3sBDESbyT0sb-HRzt-6R1icItzMHUXz0sbJox3LyfGJ3X4Z3-_tKk3mxd9TXldWf7HTdk5d65r9YBCl770Ha1rAKhwyGGvMU6jBfQemGcklzooivRfVjzhRD5BlpJNqus7NquyEYacPdmm7A4Tp3bbzyxNeh_7jlVjqsf7CrWy78nFUdrrtE6gBavMwAz8AE7FScH6NzMjCekTU-pvEuUjEmTwj5p_NCUt8Yjwo9u66UzlgVf45wsG3qngL50D097rTzdA97-XGlt-csbZ_m7v2lJXNjR0yxM29aNFQBnui7RLd0_mAtoP41WtXMNlsLL9uaD3wK2tpcpoZViRWPYeg9gs81goMTzQ0ct370urdwkuNwNMvX5N1yljJIShgXnk75EP6YscOdmvR5FrlLm_5b07k7Ywwd9ZfbuaT9RI6YeUruSlH6-fGeH3Q37Gui1i4QSU5M5uc')\nglobal.set('snipeit_host', 'http://52.39.121.124:8080/api/v1')\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2140,"y":1160,"wires":[["5e8a0db0.5aaaa4"]]},{"id":"bfe3b830.1e1ca8","type":"function","z":"c1ded861.e40118","name":"ash","func":"global.set('profiles', JSON.parse(msg.payload))\n\nreturn msg;","outputs":1,"noerr":0,"x":2420,"y":1160,"wires":[[]]},{"id":"5e8a0db0.5aaaa4","type":"http request","z":"c1ded861.e40118","name":"","method":"GET","ret":"txt","url":"https://opol.mybluemix.net/getdata","tls":"","x":2280,"y":1160,"wires":[["bfe3b830.1e1ca8"]]},{"id":"ec461e60.88ca4","type":"inject","z":"c1ded861.e40118","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1980,"y":1160,"wires":[["91ad9e91.6c282"]]},{"id":"16836724.f6a1d9","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":2560,"y":1080,"wires":[]},{"id":"8f304fd0.2b6e8","type":"http in","z":"c1ded861.e40118","name":"","url":"/assets/hardwarelist","method":"get","upload":false,"swaggerDoc":"","x":2060,"y":1080,"wires":[["75b07c21.6dc4b4"]]},{"id":"6221dcf3.b22934","type":"http request","z":"c1ded861.e40118","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware/{{{id}}}/checkin","tls":"","x":2400,"y":1000,"wires":[["cc8f400c.3e4a4"]]},{"id":"cc8f400c.3e4a4","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":2560,"y":1000,"wires":[]},{"id":"fd361e97.095a6","type":"function","z":"c1ded861.e40118","name":"","func":"// msg.assetId = msg.payload[0].assetId\n// msg.userId = msg.payload.userId\nmsg.userId = msg.payload.snipeitId\nnode.warn(msg.userId)\n\nreturn msg;","outputs":1,"noerr":0,"x":2560,"y":940,"wires":[["86f5ddc.e2ade2"]]},{"id":"21e83c13.06f9b4","type":"cloudantplus out","z":"c1ded861.e40118","name":"insert profiles","cloudant":"","database":"profiles","service":"_ext_","payonly":true,"operation":"insert","x":1470,"y":880,"wires":[]},{"id":"cc54b82c.95c3b8","type":"cloudantplus out","z":"c1ded861.e40118","name":"insert consumables","cloudant":"fd1a6afa.76a098","database":"consumables","service":"_ext_","payonly":true,"operation":"insert","x":1490,"y":1060,"wires":[]},{"id":"a903edb1.ae6db","type":"cloudantplus in","z":"c1ded861.e40118","name":"Retrieve profiles","cloudant":"fd1a6afa.76a098","database":"profiles","service":"_ext_","search":"_id_","design":"","index":"","x":1480,"y":960,"wires":[["5f005c22.fb5684"]]},{"id":"d02f2772.3ebda8","type":"cloudantplus in","z":"c1ded861.e40118","name":"Retrieve consumables","cloudant":"fd1a6afa.76a098","database":"consumables","service":"_ext_","search":"_id_","design":"","index":"","x":1500,"y":1140,"wires":[["9ade3308.8aec7"]]},{"id":"8d6cfa07.876e18","type":"actionflows","z":"c1ded861.e40118","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"action","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":1350,"y":1940,"wires":[[]]},{"id":"421a159f.9a7b7c","type":"filter","z":"c1ded861.e40118","name":"","property":"msg2.payload.username","propertyType":"flow","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"msg2.username","vt":"flow","output":1}],"checkall":"true","outputs":1,"x":2440,"y":940,"wires":[["fd361e97.095a6"]]},{"id":"da1c07bb.8d3658","type":"debug","z":"c1ded861.e40118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2880,"y":1000,"wires":[]},{"id":"4ea9460.3552fbc","type":"function","z":"c1ded861.e40118","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2860,"y":880,"wires":[[]]},{"id":"b2b5d70a.56eb38","type":"inject","z":"c1ded861.e40118","name":"","topic":"","payload":"{\"assetId\":\"1\", \"username\":\"ash\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2160,"y":900,"wires":[["568c9c2c.56adc4"]]},{"id":"98dc0cca.58052","type":"debug","z":"3c1f6dd2.c28162","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":560,"wires":[]},{"id":"42ef2bcd.c51ec4","type":"ibmiot in","z":"3c1f6dd2.c28162","authentication":"apiKey","apiKey":"4628ab5c.abe6c4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+Tablets","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":250,"y":560,"wires":[["98dc0cca.58052"]]},{"id":"67039657.a2f338","type":"debug","z":"137a9152.2c26cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":480,"wires":[]},{"id":"d7db52dc.c709c","type":"ibmiot in","z":"137a9152.2c26cf","authentication":"apiKey","apiKey":"4628ab5c.abe6c4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+Tablets","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":120,"y":480,"wires":[["67039657.a2f338","d2d67162.b248b"]]},{"id":"4ac7570d.2931d8","type":"inject","z":"c1ded861.e40118","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":980,"y":1300,"wires":[["39db6d0d.099812"]]},{"id":"39db6d0d.099812","type":"change","z":"c1ded861.e40118","name":"Store time","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1300,"wires":[[]]},{"id":"50202839.6df588","type":"http in","z":"c1ded861.e40118","name":"","url":"/hello-data","method":"get","swaggerDoc":"","x":1000,"y":1340,"wires":[["6d89ec51.636cc4"]]},{"id":"6d89ec51.636cc4","type":"change","z":"c1ded861.e40118","name":"Copy time","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"timestamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1340,"wires":[[]]},{"id":"79d700e2.4d77a","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":1490,"y":1340,"wires":[]},{"id":"452320e5.96ab8","type":"http response","z":"c1ded861.e40118","name":"owntracks inserted","statusCode":"","headers":{},"x":1750,"y":1280,"wires":[]},{"id":"53ae599d.7ddbe8","type":"http in","z":"c1ded861.e40118","name":"","url":"/getowntracks","method":"get","upload":false,"swaggerDoc":"","x":1190,"y":1480,"wires":[["5c2b8492.6846cc"]]},{"id":"b5d8b1ba.20784","type":"http response","z":"c1ded861.e40118","name":"return owntracks","statusCode":"","headers":{},"x":1740,"y":1340,"wires":[]},{"id":"933e31ed.c907d","type":"cloudantplus out","z":"c1ded861.e40118","name":"insert owntracks","cloudant":"fd1a6afa.76a098","database":"owntracks","service":"_ext_","payonly":true,"operation":"insert","x":1480,"y":1260,"wires":[]},{"id":"5c2b8492.6846cc","type":"cloudantplus in","z":"c1ded861.e40118","name":"Retrieve owntracks","cloudant":"fd1a6afa.76a098","database":"owntracks","service":"_ext_","search":"_id_","design":"","index":"","x":1490,"y":1340,"wires":[["b5d8b1ba.20784"]]}]