app/.node-red/.flows.json.backup
[{"id":"137a9152.2c26cf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dd743b57.2a9718","type":"inject","z":"137a9152.2c26cf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":180,"wires":[[]]},{"id":"5a8b6b9.d645994","type":"async","z":"137a9152.2c26cf","name":"","async":"\nreturn msg;","outputs":1,"x":640,"y":280,"wires":[[]]},{"id":"121ea874.b73e68","type":"Combine Start","z":"137a9152.2c26cf","name":"","number":0,"waitArray":true,"iterateArray":true,"x":360,"y":360,"wires":[[]]},{"id":"3ffdf01b.bee3a","type":"http in","z":"137a9152.2c26cf","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":270,"y":280,"wires":[["240ddf11.c9936","4665adcf.ff92d4"]]},{"id":"240ddf11.c9936","type":"debug","z":"137a9152.2c26cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":300,"wires":[]},{"id":"ecbb6471.46c9b8","type":"http in","z":"137a9152.2c26cf","name":"","url":"","method":"get","upload":false,"x":300,"y":480,"wires":[[]]},{"id":"4665adcf.ff92d4","type":"http response","z":"137a9152.2c26cf","name":"","statusCode":"","headers":{},"x":420,"y":200,"wires":[]}]