app/.node-red/lib/flows/assets.json
[{"id":"9d77b0a7.0ae73","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/putprofiles","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["dd99a720.eeb0e8","e9fbd631.ebed48"]]},{"id":"e9fbd631.ebed48","type":"http response","z":"137a9152.2c26cf","name":"profiles inserted","statusCode":"","headers":{},"x":650,"y":100,"wires":[]},{"id":"a835aa98.8b0b48","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/getprofiles","method":"get","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["4dcf4a52.c4b924"]]},{"id":"d7229861.84a918","type":"http response","z":"137a9152.2c26cf","name":"return profiles","statusCode":"","headers":{},"x":650,"y":160,"wires":[]},{"id":"f0e69cc1.25d0b","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/putconsumables","method":"get","upload":false,"swaggerDoc":"","x":180,"y":280,"wires":[["bd122d14.79c47","3b7fe24b.c4586e"]]},{"id":"3b7fe24b.c4586e","type":"http response","z":"137a9152.2c26cf","name":"consumables inserted","statusCode":"","headers":{},"x":670,"y":280,"wires":[]},{"id":"fbb38b02.e0f968","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/getconsumables","method":"get","upload":false,"swaggerDoc":"","x":180,"y":340,"wires":[["686fb972.ebf6d8"]]},{"id":"d1a878df.5b56d8","type":"http response","z":"137a9152.2c26cf","name":"return consumables","statusCode":"","headers":{},"x":660,"y":340,"wires":[]},{"id":"d9b3a2f5.87668","type":"http response","z":"137a9152.2c26cf","name":"owntracks inserted","statusCode":"","headers":{},"x":660,"y":480,"wires":[]},{"id":"3b3c8388.32171c","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/getowntracks","method":"get","upload":false,"swaggerDoc":"","x":170,"y":540,"wires":[["355902d0.8aa28e"]]},{"id":"6a286bfc.a823a4","type":"http response","z":"137a9152.2c26cf","name":"return owntracks","statusCode":"","headers":{},"x":650,"y":540,"wires":[]},{"id":"d477a066.8ced6","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/assets/checkouthardware","method":"get","upload":false,"swaggerDoc":"","x":1010,"y":140,"wires":[["fcc8bb03.f29648"]]},{"id":"5871bcab.4b7f34","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/assets/checkinhardware","method":"get","upload":false,"swaggerDoc":"","x":960,"y":200,"wires":[["57ff7d72.444c44"]]},{"id":"fcc8bb03.f29648","type":"function","z":"137a9152.2c26cf","name":"ash","func":"msg.headers = {}\nvar msg2 = msg \nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nmsg.assetId = msg.payload.assetId\nmsg.username = msg.payload.username\nnode.warn(msg.username)\nmsg.snipeit_host = global.get('snipeit_host')\nmsg2 = msg.payload = global.get('profiles')\n\nreturn [msg, msg2]","outputs":1,"noerr":0,"x":1210,"y":140,"wires":[["3f748ff1.e6362"]]},{"id":"6e6594a3.03386c","type":"http response","z":"137a9152.2c26cf","name":"","statusCode":"","headers":{},"x":1770,"y":140,"wires":[]},{"id":"57ff7d72.444c44","type":"function","z":"137a9152.2c26cf","name":"ash","func":"msg.headers = {}\nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nconsole.log(msg.payload.assetId)\nmsg.id = msg.payload.assetId\nmsg.snipeit_host = global.get('snipeit_host')\n\n console.log(msg.id)\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":200,"wires":[["9f724ec1.7e882"]]},{"id":"1597af57.5e6c91","type":"http request","z":"137a9152.2c26cf","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware/{{{assetId}}}/checkout?assigned_user={{{userId}}}&checkout_to_type=user","tls":"","x":1610,"y":140,"wires":[["6e6594a3.03386c","6514cab0.f6c214","5de1eed3.c088f"]]},{"id":"df99e673.51a6a8","type":"function","z":"137a9152.2c26cf","name":"ash","func":"msg.headers = {}\nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nmsg.snipeit_host = global.get('snipeit_host')\nmsg.mock = false\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["c8e8dfd0.e5ace"]]},{"id":"c8e8dfd0.e5ace","type":"http request","z":"137a9152.2c26cf","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware","tls":"","x":1310,"y":280,"wires":[["a69c6a02.8cd758"]]},{"id":"d257fdb7.e2e34","type":"function","z":"137a9152.2c26cf","name":"ash","func":"global.set('snipeit_token', 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjQ0ODQ5ZmVjYmQ3YTBiNWUxMjg4MzUzMjZkZjdkNDM0ZjA1YjVmNWVmZjM0MWQ3NTVjM2NmMGVhODIxODNjNjAyNWQ4NWE4OTE2ZWNiMjlmIn0.eyJhdWQiOiIxIiwianRpIjoiNDQ4NDlmZWNiZDdhMGI1ZTEyODgzNTMyNmRmN2Q0MzRmMDViNWY1ZWZmMzQxZDc1NWMzY2YwZWE4MjE4M2M2MDI1ZDg1YTg5MTZlY2IyOWYiLCJpYXQiOjE1MjgzMDkyMDgsIm5iZiI6MTUyODMwOTIwOCwiZXhwIjoxNTU5ODQ1MjA4LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.yv1QL0Vbf4EupDdI-9U6somSbALryrk5UXX5cMV_iNILSye7rKqruoLurDghzt6-2PboAHffoiWnBGRp36vdJ5oUTNKWPSYl-PQqLkDVWjinpcQ0jHZM75lLausxkIknDi4bFlXPgWHtewotLUQKdDW-Nkij6EckVUZbn2lOFw2bi2HOGzENVl7H8VHaBXlQw_cBpT7w4K1FaHkYE2qECK-B2GZ0VlVw3sBDESbyT0sb-HRzt-6R1icItzMHUXz0sbJox3LyfGJ3X4Z3-_tKk3mxd9TXldWf7HTdk5d65r9YBCl770Ha1rAKhwyGGvMU6jBfQemGcklzooivRfVjzhRD5BlpJNqus7NquyEYacPdmm7A4Tp3bbzyxNeh_7jlVjqsf7CrWy78nFUdrrtE6gBavMwAz8AE7FScH6NzMjCekTU-pvEuUjEmTwj5p_NCUt8Yjwo9u66UzlgVf45wsG3qngL50D097rTzdA97-XGlt-csbZ_m7v2lJXNjR0yxM29aNFQBnui7RLd0_mAtoP41WtXMNlsLL9uaD3wK2tpcpoZViRWPYeg9gs81goMTzQ0ct370urdwkuNwNMvX5N1yljJIShgXnk75EP6YscOdmvR5FrlLm_5b07k7Ywwd9ZfbuaT9RI6YeUruSlH6-fGeH3Q37Gui1i4QSU5M5uc')\nglobal.set('snipeit_host', 'http://52.39.121.124:8080/api/v1')\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1050,"y":360,"wires":[["79f66479.a1a12c"]]},{"id":"8c7024f1.db9c18","type":"function","z":"137a9152.2c26cf","name":"ash","func":"global.set('profiles', JSON.parse(msg.payload))\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":360,"wires":[[]]},{"id":"79f66479.a1a12c","type":"http request","z":"137a9152.2c26cf","name":"","method":"GET","ret":"txt","url":"https://opol.mybluemix.net/getdata","tls":"","x":1190,"y":360,"wires":[["8c7024f1.db9c18"]]},{"id":"1b3e3fcc.ae735","type":"inject","z":"137a9152.2c26cf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":890,"y":360,"wires":[["d257fdb7.e2e34"]]},{"id":"a69c6a02.8cd758","type":"http response","z":"137a9152.2c26cf","name":"","statusCode":"","headers":{},"x":1470,"y":280,"wires":[]},{"id":"e541ccdd.ed5ee","type":"http in","z":"137a9152.2c26cf","name":"","url":"/api/assets/hardwarelist","method":"get","upload":false,"swaggerDoc":"","x":980,"y":280,"wires":[["df99e673.51a6a8"]]},{"id":"9f724ec1.7e882","type":"http request","z":"137a9152.2c26cf","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware/{{{id}}}/checkin","tls":"","x":1310,"y":200,"wires":[["938974db.266cc8"]]},{"id":"938974db.266cc8","type":"http response","z":"137a9152.2c26cf","name":"","statusCode":"","headers":{},"x":1470,"y":200,"wires":[]},{"id":"f990654b.0fd848","type":"function","z":"137a9152.2c26cf","name":"","func":"// msg.assetId = msg.payload[0].assetId\n// msg.userId = msg.payload.userId\nmsg.userId = msg.payload.snipeitId\nnode.warn(msg.userId)\n\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":140,"wires":[["1597af57.5e6c91"]]},{"id":"dd99a720.eeb0e8","type":"cloudantplus out","z":"137a9152.2c26cf","name":"insert profiles","cloudant":"bb36ca87.73e928","database":"profiles","service":"_ext_","payonly":true,"operation":"insert","x":380,"y":80,"wires":[]},{"id":"bd122d14.79c47","type":"cloudantplus out","z":"137a9152.2c26cf","name":"insert consumables","cloudant":"351736bb.017b9a","database":"consumables","service":"_ext_","payonly":true,"operation":"insert","x":400,"y":260,"wires":[]},{"id":"d2d67162.b248b","type":"cloudantplus out","z":"137a9152.2c26cf","name":"insert owntracks","cloudant":"351736bb.017b9a","database":"owntracks","service":"_ext_","payonly":true,"operation":"insert","x":300,"y":440,"wires":[]},{"id":"4dcf4a52.c4b924","type":"cloudantplus in","z":"137a9152.2c26cf","name":"Retrieve profiles","cloudant":"351736bb.017b9a","database":"profiles","service":"_ext_","search":"_id_","design":"","index":"","x":390,"y":160,"wires":[["d7229861.84a918"]]},{"id":"686fb972.ebf6d8","type":"cloudantplus in","z":"137a9152.2c26cf","name":"Retrieve consumables","cloudant":"351736bb.017b9a","database":"consumables","service":"_ext_","search":"_id_","design":"","index":"","x":410,"y":340,"wires":[["d1a878df.5b56d8"]]},{"id":"355902d0.8aa28e","type":"cloudantplus in","z":"137a9152.2c26cf","name":"Retrieve owntracks","cloudant":"351736bb.017b9a","database":"owntracks","service":"_ext_","search":"_id_","design":"","index":"","x":400,"y":540,"wires":[["6a286bfc.a823a4"]]},{"id":"4ac065e2.2727bc","type":"actionflows","z":"137a9152.2c26cf","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"action","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":260,"y":1140,"wires":[[]]},{"id":"3f748ff1.e6362","type":"filter","z":"137a9152.2c26cf","name":"","property":"msg2.payload.username","propertyType":"flow","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"msg2.username","vt":"flow","output":1}],"checkall":"true","outputs":1,"x":1350,"y":140,"wires":[["f990654b.0fd848"]]},{"id":"6514cab0.f6c214","type":"DataIn","z":"137a9152.2c26cf","collection":"8c5fc8f9.567368","name":"checkoutlist","update":false,"path":"/assets/checkoutlist","x":1910,"y":100,"wires":[]},{"id":"27b69b3b.311174","type":"DataOut","z":"137a9152.2c26cf","collection":"8c5fc8f9.567368","name":"ashdowning@gmail.com","path":"/","error":false,"x":1510,"y":40,"wires":[[]]},{"id":"5de1eed3.c088f","type":"debug","z":"137a9152.2c26cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1790,"y":200,"wires":[]},{"id":"aa2a9101.4f55c","type":"function","z":"137a9152.2c26cf","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":80,"wires":[[]]},{"id":"4cfc3066.3b109","type":"inject","z":"137a9152.2c26cf","name":"","topic":"","payload":"{\"assetId\":\"1\", \"username\":\"ash\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":100,"wires":[["fcc8bb03.f29648"]]},{"id":"67039657.a2f338","type":"debug","z":"137a9152.2c26cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":480,"wires":[]},{"id":"d7db52dc.c709c","type":"ibmiot in","z":"137a9152.2c26cf","authentication":"apiKey","apiKey":"4628ab5c.abe6c4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+Tablets","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":120,"y":480,"wires":[["67039657.a2f338","d2d67162.b248b"]]},{"id":"bb36ca87.73e928","type":"cloudantplus","z":"","host":"","name":""},{"id":"351736bb.017b9a","type":"cloudantplus","z":"","host":"938d6de2-a827-4db5-9031-ec0143d91b2b-bluemix.cloudant.com","name":""},{"id":"8c5fc8f9.567368","type":"json-db-collection","z":"","name":"assets","collection":"assets","save":true}]