app/.node-red/lib/flows/employees.json
[{"id":"6b628289.79f0ac","type":"subflow","name":"humanity (3)","info":"","in":[{"x":72.00000381469727,"y":68.00000381469727,"wires":[{"id":"a2287ef.3c7478"}]}],"out":[]},{"id":"a2287ef.3c7478","type":"function","z":"6b628289.79f0ac","name":"","func":"msg.headers = {}\nlet config = {\n   client_id: '1de720f9636d0f17d61540fbd9c030c30fae3f1f',\n   client_secret: '33c1bfc4f96d5ca7e68b859af8d58fde36867bbd',\n   grant_type: 'password',\n   username: 'ash@andrewscarpetcleaning.com',\n   password: 'sugarlips42'\n}\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.payload = config\nmsg.redirect = false\nconsole.log(msg)\nreturn msg;\n\n// url string\n// If not configured in the node, this optional property sets the url of the request.\n// method string\n// If not configured in the node, this optional property sets the HTTP method of the request. Must be one of GET, PUT, POST, PATCH or DELETE.\n// headers object\n// Sets the HTTP headers of the request.\n// cookies object\n// If set, can be used to send cookies with the request.\n// payload\n// Sent as the body of the request.\n// rejectUnauthorized\n// If set to false, allows requests to be made to https sites that use self signed certificates.\n// followRedirects","outputs":1,"noerr":0,"x":207.18058395385742,"y":66.65971374511719,"wires":[["e8bf1739.737218"]]},{"id":"e8bf1739.737218","type":"http request","z":"6b628289.79f0ac","name":"","method":"POST","ret":"txt","url":"https://www.humanity.com/oauth2/token.php","tls":"","x":372.1875915527344,"y":67.7152910232544,"wires":[["113e2666.ace95a","f7cd729f.4f457"]]},{"id":"113e2666.ace95a","type":"function","z":"6b628289.79f0ac","name":"","func":"console.log(msg)\nconst _token = JSON.parse(msg.payload)\nconst humanity = {\n    token: _token['access_token']\n}\nglobal.set('humanity', humanity)\nmsg.token = humanity.token\nconsole.log(global.get('humanity').token)\n\nreturn msg;","outputs":1,"noerr":0,"x":531.1805391311646,"y":67.55556869506836,"wires":[[]]},{"id":"f7cd729f.4f457","type":"debug","z":"6b628289.79f0ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":534.1944732666016,"y":106.52083587646484,"wires":[]},{"id":"6edfa716.7635e8","type":"http request","z":"6b628289.79f0ac","name":"","method":"GET","ret":"txt","url":"https://www.humanity.com/api/v2/companies/135324?access_token={{{token}}}","tls":"","x":118.18056106567383,"y":157.7187442779541,"wires":[["cd23e99a.170058"]]},{"id":"cd23e99a.170058","type":"function","z":"6b628289.79f0ac","name":"","func":"const staff = JSON.parse(msg.payload).staff\nglobal.set('humanity_staff', staff)\nreturn msg;","outputs":1,"noerr":0,"x":286.1909942626953,"y":157.44098663330078,"wires":[["a335dae.efa6728"]]},{"id":"a335dae.efa6728","type":"AWS DynamoDB","z":"6b628289.79f0ac","aws":"48f8c3d7.51eabc","operation":"BatchWriteItem","RequestItems":"","TableName":"","BackupName":"","GlobalTableName":"","ReplicationGroup":"","AttributeDefinitions":"","KeySchema":"","ProvisionedThroughput":"","BackupArn":"","Key":"","ResourceArn":"","Item":"","TargetTableName":"","Tags":"","TagKeys":"","ReplicaUpdates":"","TimeToLiveSpecification":"","name":"employees","x":448.19099044799805,"y":185.54862213134766,"wires":[[]]},{"id":"61d66783.291798","type":"http request","z":"b7b775e0.9589b8","name":"time clocks","method":"GET","ret":"obj","url":"https://www.humanity.com/api/v2/timeclocks?start_date={{{start_date}}}&employee={{{payload.humanityid}}}&access_token={{{token}}}","tls":"","x":670,"y":180,"wires":[["432943a7.ed977c"]]},{"id":"bc4d9ba4.e593b8","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/employees/timeclocks/","method":"get","upload":false,"swaggerDoc":"","x":268.1944465637207,"y":179.78472232818604,"wires":[["ae5fb77b.fc2848"]]},{"id":"d189331b.f2bdb","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/employees/callback","method":"get","upload":false,"swaggerDoc":"","x":210,"y":700,"wires":[["be514d69.c7158"]]},{"id":"be514d69.c7158","type":"http response","z":"b7b775e0.9589b8","name":"callback","statusCode":"200","headers":{},"x":422.81597900390625,"y":690.2118072509766,"wires":[]},{"id":"ae5fb77b.fc2848","type":"function","z":"b7b775e0.9589b8","name":"","func":"\nconsole.log(msg.payload)\nvar start_date = msg.payload.start_date\nmsg.start_date = start_date\n\nmsg.headers = {}\nmsg.token = global.get('humanity').token\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.payload = global.get(msg.payload.username)\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["61d66783.291798"]]},{"id":"42372eaa.cff97","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"","headers":{},"x":1010,"y":180,"wires":[]},{"id":"432943a7.ed977c","type":"change","z":"b7b775e0.9589b8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":180,"wires":[["42372eaa.cff97"]]},{"id":"8f3598cf.98cce8","type":"http request","z":"b7b775e0.9589b8","name":"time clocks","method":"GET","ret":"obj","url":"http://www.humanity.com/api/v2/timeclocks/status/{{{payload.humanityid}}}/0?access_token={{{token}}}","tls":"","x":670,"y":220,"wires":[["6f29581b.2f8568"]]},{"id":"ce5a2afc.becea8","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/employees/clockstatus","method":"get","upload":false,"swaggerDoc":"","x":265,"y":225.7673578262329,"wires":[["783ebe77.7a9bd"]]},{"id":"783ebe77.7a9bd","type":"function","z":"b7b775e0.9589b8","name":"","func":"msg.headers = {}\nmsg.token = global.get('humanity').token\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.payload = global.get( msg.payload.username)\nvar username = msg.payload.username\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["8f3598cf.98cce8"]]},{"id":"ed5ef181.8c703","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"","headers":{},"x":1010,"y":220,"wires":[]},{"id":"6f29581b.2f8568","type":"change","z":"b7b775e0.9589b8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":220,"wires":[["ed5ef181.8c703"]]},{"id":"7e520a02.702984","type":"http request","z":"b7b775e0.9589b8","name":"clock in","method":"POST","ret":"obj","url":"https://www.humanity.com/api/v2/employees/{{{id}}}/clockin?access_token={{{token}}}","tls":"","x":960,"y":300,"wires":[["5fdc0c31.811e94","67d034fc.c942ec"]]},{"id":"acc6e0a.d214d2","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/employees/clock","method":"get","upload":false,"swaggerDoc":"","x":220,"y":320,"wires":[["33fc9420.e7d1cc"]]},{"id":"5fdc0c31.811e94","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"","headers":{},"x":1130,"y":300,"wires":[]},{"id":"32612bc8.103d44","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/employees/login","method":"post","upload":false,"swaggerDoc":"","x":240,"y":100,"wires":[["d49c0002.2c3fe","3429a70.5f5725a"]]},{"id":"d49c0002.2c3fe","type":"function","z":"b7b775e0.9589b8","name":"","func":"var username = msg.payload.username\nmsg.payload = {\n    key: \"userId\",\n    reservedKey: \"username\",\n    value: username,\n    operator: \"=\"\n}\n\nreturn msg","outputs":1,"noerr":0,"x":430,"y":100,"wires":[["c7943418.875ab8"]]},{"id":"c7943418.875ab8","type":"ddb-in","z":"b7b775e0.9589b8","region":"us-west-2","table":"chat-app-dev.users","name":"getuserid","x":600,"y":100,"wires":[["2904deed.f1abb2"]]},{"id":"3429a70.5f5725a","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"200","headers":{},"x":1240,"y":60,"wires":[]},{"id":"27fa83b9.234aec","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/hello-form","method":"post","upload":false,"swaggerDoc":"","x":760,"y":780,"wires":[["9ecc8cad.fcbd1"]]},{"id":"9ecc8cad.fcbd1","type":"template","z":"b7b775e0.9589b8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":890,"y":760,"wires":[["293bd072.dc48d"]]},{"id":"293bd072.dc48d","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"","headers":{},"x":1110,"y":780,"wires":[]},{"id":"2904deed.f1abb2","type":"function","z":"b7b775e0.9589b8","name":"","func":"\nglobal.set(msg.payload.Items[0].username, msg.payload.Items[0])\nconsole.log(global.get(msg.payload.Items[0].username))\nmsg.topic = \"\"\nconsole.log(global.get('ash2'))\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":100,"wires":[["3429a70.5f5725a"]]},{"id":"863ce6f3.5dd158","type":"subflow:6b628289.79f0ac","z":"b7b775e0.9589b8","name":"humanity","x":360,"y":880,"wires":[]},{"id":"e68f08f0.6c80b8","type":"inject","z":"b7b775e0.9589b8","name":"","topic":"init","payload":"","payloadType":"date","repeat":"2700","crontab":"","once":true,"onceDelay":0.1,"x":175.00689697265625,"y":884.9236755371094,"wires":[["863ce6f3.5dd158"]]},{"id":"23b1048e.9a11dc","type":"inject","z":"b7b775e0.9589b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":171.00690078735352,"y":826.9097957611084,"wires":[["f550067a.ca4228"]]},{"id":"6ef55e9f.fb6d1","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/hello-json","method":"get","upload":false,"swaggerDoc":"","x":388.8367614746094,"y":1084.0486755371094,"wires":[["1474806e.f9344"]]},{"id":"1474806e.f9344","type":"template","z":"b7b775e0.9589b8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":558.8367614746094,"y":1084.0486755371094,"wires":[["f632e6a5.af8a68"]]},{"id":"f632e6a5.af8a68","type":"change","z":"b7b775e0.9589b8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720.8367156982422,"y":1084.048692703247,"wires":[["22ff2582.b7fcca","a6e17907.294508"]]},{"id":"22ff2582.b7fcca","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"","headers":{},"x":878.8367614746094,"y":1084.0486755371094,"wires":[]},{"id":"a6e17907.294508","type":"debug","z":"b7b775e0.9589b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":881.0034332275391,"y":1040.5486526489258,"wires":[]},{"id":"36a2516d.138dde","type":"inject","z":"b7b775e0.9589b8","name":"","topic":"","payload":"{\"requestsId\": \"hgy5nnhr4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":186.8402328491211,"y":991.7083415985107,"wires":[["9d90b3a7.f1198"]]},{"id":"89b9b7f0.55aa68","type":"debug","z":"b7b775e0.9589b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":373.01039123535156,"y":1139.5556373596191,"wires":[]},{"id":"3bc93fc8.70332","type":"http request","z":"b7b775e0.9589b8","name":"employees","method":"GET","ret":"obj","url":"https://www.humanity.com/api/v2/companies/135324?access_token={{{token}}}","tls":"","x":541.8367233276367,"y":851.0486316680908,"wires":[[]]},{"id":"f550067a.ca4228","type":"function","z":"b7b775e0.9589b8","name":"","func":"msg.headers = {}\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.token =  global.get('humanity').token\nconsole.log(msg)\nreturn msg;","outputs":1,"noerr":0,"x":350.65618896484375,"y":830.5660095214844,"wires":[["3bc93fc8.70332"]]},{"id":"a7b1e1d6.f8866","type":"comment","z":"b7b775e0.9589b8","name":"PUT ITEM","info":"","x":220.8367462158203,"y":1205.7153625488281,"wires":[]},{"id":"375720f5.44e76","type":"http request","z":"b7b775e0.9589b8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":739.0033965110779,"y":867.9758234024048,"wires":[[]]},{"id":"31897bb5.392174","type":"amazon cognito","z":"b7b775e0.9589b8","aws":"6e899205.9f0f4c","name":"notanother","operation":"listUsers","x":177.9999542236328,"y":1119.923713684082,"wires":[["89b9b7f0.55aa68"]]},{"id":"9d90b3a7.f1198","type":"ddb out","z":"b7b775e0.9589b8","region":"us-west-2","table":"requests","name":"requests","x":374.0034866333008,"y":1026.1876001358032,"wires":[]},{"id":"68f11007.09f9e","type":"debug","z":"b7b775e0.9589b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1091.0035438537598,"y":923.5243701934814,"wires":[]},{"id":"a6d367a7.4f33d8","type":"aws-mqtt out","z":"b7b775e0.9589b8","device":"cfec9c14.7128e","topic":"owntracks","qos":0,"x":1428.0034790039062,"y":1078.6042785644531,"wires":[]},{"id":"3c40bff8.6436b","type":"inject","z":"b7b775e0.9589b8","name":"","topic":"","payload":"{\"message\": \"adsvvvvf\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1131.0034942626953,"y":1002.909797668457,"wires":[["a6d367a7.4f33d8"]]},{"id":"9477a42b.d4fb78","type":"inject","z":"b7b775e0.9589b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":168.00341033935547,"y":1060.9202938079834,"wires":[["31897bb5.392174"]]},{"id":"21687ab2.897406","type":"aws-thing","z":"b7b775e0.9589b8","device":"cfec9c14.7128e","method":"update","x":1190.3193969726562,"y":1130.5715637207031,"wires":[["a6d367a7.4f33d8"]]},{"id":"44bcb096.6e932","type":"aws-mqtt in","z":"b7b775e0.9589b8","device":"d9a44f80.44145","topic":"owntracks/#","x":896.3194198608398,"y":887.804913520813,"wires":[["a8350efd.6244","68f11007.09f9e"]]},{"id":"a8350efd.6244","type":"debug","z":"b7b775e0.9589b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1108.3193759918213,"y":874.1882419586182,"wires":[]},{"id":"628431fe.972bf","type":"debug","z":"b7b775e0.9589b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":857.3193969726562,"y":987.9382629394531,"wires":[]},{"id":"9fc3f60.1bdbe08","type":"amazon cognito","z":"b7b775e0.9589b8","aws":"6e899205.9f0f4c","name":"","operation":"adminGetUser","x":443.81939697265625,"y":928.7382507324219,"wires":[["81f844f5.ed2b78"]]},{"id":"4ba08cb2.bfb6f4","type":"amazon cognito","z":"b7b775e0.9589b8","aws":"6e899205.9f0f4c","name":"","operation":"adminGetUser","x":612.8193969726562,"y":996.7382507324219,"wires":[[]]},{"id":"4faa20d3.cd792","type":"inject","z":"b7b775e0.9589b8","name":"","topic":"ash","payload":"ash","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":167.31939697265625,"y":917.0549011230469,"wires":[["9fc3f60.1bdbe08"]]},{"id":"81f844f5.ed2b78","type":"debug","z":"b7b775e0.9589b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":702.3193969726562,"y":930.938232421875,"wires":[]},{"id":"42bb921c.165d6c","type":"inject","z":"b7b775e0.9589b8","name":"","topic":"putItem","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":1320,"wires":[["1b343e4b.1fbfc2"]]},{"id":"cbf91d1e.176bc","type":"dynamodb-in","z":"b7b775e0.9589b8","name":"","region":"ap-southeast-1","table":"employees","operation":"putItem","json_ddb":"","ddb_json":"","detect":false,"x":742.9999923706055,"y":1314.0000629425049,"wires":[[]]},{"id":"585b1999.5f9358","type":"inject","z":"b7b775e0.9589b8","name":"","topic":"getItem","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":1500,"wires":[["76fef3ff.f9026c"]]},{"id":"1be28421.fa454c","type":"comment","z":"b7b775e0.9589b8","name":"GET ITEM","info":"","x":170,"y":1460,"wires":[]},{"id":"3093f6e8.68a24a","type":"inject","z":"b7b775e0.9589b8","name":"","topic":"getItem","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":1560,"wires":[["7abfd72c.0b2e98"]]},{"id":"1fee8ff7.6c2fa","type":"inject","z":"b7b775e0.9589b8","name":"","topic":"putItem","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":1380,"wires":[["8f503129.cb10c"]]},{"id":"a1dff4a0.600458","type":"dynamodb-in","z":"b7b775e0.9589b8","name":"","region":"ap-southeast-1","table":"TBoxDev_PGenome","operation":"putItem","json_ddb":"params.Item","ddb_json":"params.Item","detect":true,"x":640,"y":1380,"wires":[[]]},{"id":"359ab04.2e4115","type":"dynamodb-in","z":"b7b775e0.9589b8","name":"","region":"ap-southeast-1","table":"TBoxDev_PGenome","operation":"getItem","json_ddb":"","ddb_json":"","detect":false,"x":640,"y":1500,"wires":[[]]},{"id":"c26bfd43.b200b","type":"dynamodb-in","z":"b7b775e0.9589b8","name":"","region":"ap-southeast-1","table":"TBoxDev_PGenome","operation":"getItem","json_ddb":"params.Key","ddb_json":"payload.Item","detect":true,"x":640,"y":1560,"wires":[[]]},{"id":"1b343e4b.1fbfc2","type":"function","z":"b7b775e0.9589b8","name":"Don't Detect Types","func":"msg.params = {}\n\nmsg.params.Item = {\n    \"ID\": {\"S\": \"Rizza\"},\n    \"name\" : { \"S\": \"Rizza\"},\n\t\"age\" : { \"N\": \"26\"},\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":1320.0000576972961,"wires":[["cbf91d1e.176bc"]]},{"id":"8f503129.cb10c","type":"function","z":"b7b775e0.9589b8","name":"Detect Types","func":"msg.params = {}\n\nmsg.params.Item = {\n    \"ID\": \"Rizza1\",\n    \"name\" : \"Rizza2\",\n\t\"age\" : 26\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":377,"y":1376.9999923706055,"wires":[["a1dff4a0.600458"]]},{"id":"76fef3ff.f9026c","type":"function","z":"b7b775e0.9589b8","name":"Don't Detect Types","func":"msg.params = {}\n\nmsg.params.Key = {\n      \"HashKeyElement\" : {\n        \"S\" : \"Another\"\n      }\n  }\n\nreturn msg;","outputs":1,"noerr":0,"x":379,"y":1503.9999980926514,"wires":[["359ab04.2e4115"]]},{"id":"7abfd72c.0b2e98","type":"function","z":"b7b775e0.9589b8","name":"Detect Types","func":"msg.params = {}\n\nmsg.params.Key = {HashKeyElement:\"Another\"}\n\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":1556.0000019073486,"wires":[["c26bfd43.b200b"]]},{"id":"27b7f159.31f15e","type":"function","z":"b7b775e0.9589b8","name":"Add topic & timestamp to payload","func":"var out={\n    timestamp: { \"S\": new Date().toISOString() },\n    topic: { \"S\": msg.topic },\n    data: { \"S\": msg.payload }\n} ;\n\nmsg.payload=out;\n\nreturn msg;","outputs":1,"noerr":0,"x":465.98265075683594,"y":1709.3228759765625,"wires":[["7102297b.4e5c48"]]},{"id":"7102297b.4e5c48","type":"debug","z":"b7b775e0.9589b8","name":"","active":false,"console":"false","complete":"false","x":735.9826507568359,"y":1689.3228759765625,"wires":[]},{"id":"34041623.e2d63a","type":"inject","z":"b7b775e0.9589b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":940,"y":1340,"wires":[["37f3c2c9.997e1e"]]},{"id":"37f3c2c9.997e1e","type":"change","z":"b7b775e0.9589b8","name":"Store time","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":1340,"wires":[[]]},{"id":"940ee6a0.628368","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/hello-data","method":"get","swaggerDoc":"","x":960,"y":1380,"wires":[["bf8fbcc4.40528"]]},{"id":"bf8fbcc4.40528","type":"change","z":"b7b775e0.9589b8","name":"Copy time","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"timestamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1380,"wires":[["3b115bdf.2a9e14"]]},{"id":"3b115bdf.2a9e14","type":"template","z":"b7b775e0.9589b8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Time: {{ timestamp }}</h1>\n    </body>\n</html>","x":1310,"y":1380,"wires":[["c4487c91.d654"]]},{"id":"c4487c91.d654","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"","headers":{},"x":1450,"y":1380,"wires":[]},{"id":"36c483a5.78b39c","type":"inject","z":"b7b775e0.9589b8","name":"trigger","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":953.01953125,"y":1669.50390625,"wires":[["be0f3a87.d8d888"]]},{"id":"be0f3a87.d8d888","type":"function","z":"b7b775e0.9589b8","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.global: \";\n\nfor(var index in context.global) { \n   if(typeof context.global[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.global[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.global[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.global[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.global[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.global[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.global[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"x":1195.01953125,"y":1668.50390625,"wires":[["3ead0590.43248a"]]},{"id":"3ead0590.43248a","type":"debug","z":"b7b775e0.9589b8","name":"show","active":true,"console":"false","complete":"payload","x":1412.01953125,"y":1668.50390625,"wires":[]},{"id":"29fd83a6.b77a6c","type":"inject","z":"b7b775e0.9589b8","name":"delete var","topic":"all","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":949.01953125,"y":1704.50390625,"wires":[["50b38aa1.8e04e4"]]},{"id":"387f92a2.c9c13e","type":"function","z":"b7b775e0.9589b8","name":"Set vars example","func":"context.global.myvar = \"foo\";\ncontext.global.myarry = [\"foo\",\"/\",\"bar\"];\ncontext.global.debug = context.global.debug || {state:0, statePrevious: {pa:1,pb:2,pc:3}, darry: [0,1,2,3] };","outputs":1,"x":1195.01953125,"y":1740.50390625,"wires":[["3ead0590.43248a"]]},{"id":"1e886fe1.64ad6","type":"inject","z":"b7b775e0.9589b8","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":953.01953125,"y":1741.50390625,"wires":[["387f92a2.c9c13e"]]},{"id":"50b38aa1.8e04e4","type":"function","z":"b7b775e0.9589b8","name":"delete vars from global.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.global) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.global[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"x":1167.01953125,"y":1703.50390625,"wires":[["3ead0590.43248a"]]},{"id":"42cdf391.d2717c","type":"http response","z":"b7b775e0.9589b8","name":"","x":1471,"y":1531,"wires":[]},{"id":"e604b1.82610b5","type":"template","z":"b7b775e0.9589b8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n    </body>\n</html>","x":1331,"y":1531,"wires":[["42cdf391.d2717c"]]},{"id":"57c006d2.1f4648","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/hello-param/:name","method":"get","upload":false,"swaggerDoc":"","x":1131,"y":1531,"wires":[["e604b1.82610b5"]]},{"id":"b921c2c3.88ddb","type":"http request","z":"b7b775e0.9589b8","name":"clock out","method":"PUT","ret":"obj","url":"https://www.humanity.com/api/v2/employees/4041624/clockout?access_token={{{token}}}","tls":"","x":640,"y":480,"wires":[["d2282a70.305f88"]]},{"id":"5f54de03.a6a5d","type":"http in","z":"b7b775e0.9589b8","name":"","url":"/employees/clockout","method":"put","upload":false,"swaggerDoc":"","x":240,"y":473.75694274902344,"wires":[["6cd53475.e1492c"]]},{"id":"6cd53475.e1492c","type":"function","z":"b7b775e0.9589b8","name":"","func":"// msg.headers = {}\nmsg.token = global.get('humanity').token\n// msg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nconsole.log(msg.payload.username)\nmsg.payload = global.get( msg.payload.username)\nvar username = msg.payload.username\nreturn msg;\n\n// msg.headers = {}\n\n// msg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\n// msg.redirect = false\n// msg.token =  global.get('humanity').token\n// // msg.id = msg.payload.id\n// console.log(msg.payload.id)\n// var username = msg.payload.username\n// console.log(username)\n// msg.payload = {\n//     key: \"userId\",\n//     reservedKey: \"username\",\n//     value: username,\n//     operator: \"=\"\n// }\n\n// return msg;","outputs":1,"noerr":0,"x":470,"y":480,"wires":[["b921c2c3.88ddb"]]},{"id":"d2282a70.305f88","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"200","headers":{},"x":820,"y":480,"wires":[]},{"id":"dd2aa8eb.8b63c8","type":"debug","z":"b7b775e0.9589b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":440,"wires":[]},{"id":"e1837d4b.c38a6","type":"http request","z":"b7b775e0.9589b8","name":"time clocks","method":"GET","ret":"obj","url":"http://www.humanity.com/api/v2/timeclocks/status/{{{payload.humanityid}}}/0?access_token={{{token}}}","tls":"","x":610,"y":320,"wires":[["6211e66.c93c118"]]},{"id":"33fc9420.e7d1cc","type":"function","z":"b7b775e0.9589b8","name":"","func":"msg.headers = {}\nmsg.token = global.get('humanity').token\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.uname = msg.payload.username\nmsg.payload = global.get( msg.payload.username)\nmsg.id = global.get( msg.payload.username).humanityid\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["e1837d4b.c38a6"]]},{"id":"6211e66.c93c118","type":"switch","z":"b7b775e0.9589b8","name":"","property":"payload.data","propertyType":"msg","rules":[{"t":"eq","v":"out","vt":"str"},{"t":"eq","v":"in","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":320,"wires":[["7e520a02.702984"],["8534aca0.645a1"]]},{"id":"8534aca0.645a1","type":"http request","z":"b7b775e0.9589b8","name":"clock out","method":"PUT","ret":"obj","url":"https://www.humanity.com/api/v2/employees/{{{payload.humanityid}}}/clockout?access_token={{{token}}}","tls":"","x":960,"y":340,"wires":[["69b54032.2667e","dd2aa8eb.8b63c8"]]},{"id":"69b54032.2667e","type":"http response","z":"b7b775e0.9589b8","name":"","statusCode":"","headers":{},"x":1130,"y":340,"wires":[]},{"id":"67d034fc.c942ec","type":"debug","z":"b7b775e0.9589b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1300,"y":280,"wires":[]}]