app/.node-red/lib/flows/live_copy.json
[{"id":"6609aba9.991bb4","type":"inject","z":"3c1f6dd2.c28162","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1140,"wires":[[]]},{"id":"8d6729b9.26bbc8","type":"async","z":"3c1f6dd2.c28162","name":"","async":"\nreturn msg;","outputs":1,"x":600,"y":1240,"wires":[[]]},{"id":"7021c36d.2ca18c","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":230,"y":1240,"wires":[["798e5b1a.aceed4","6ede86d4.e36918"]]},{"id":"798e5b1a.aceed4","type":"debug","z":"3c1f6dd2.c28162","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":1260,"wires":[]},{"id":"6ede86d4.e36918","type":"http response","z":"3c1f6dd2.c28162","name":"","statusCode":"","headers":{},"x":380,"y":1160,"wires":[]},{"id":"97a0fb40.858198","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/putprofiles","method":"get","upload":false,"swaggerDoc":"","x":210,"y":100,"wires":[["45c6d696.e6c468","39d59590.99432a"]]},{"id":"39d59590.99432a","type":"http response","z":"3c1f6dd2.c28162","name":"profiles inserted","statusCode":"","headers":{},"x":700,"y":100,"wires":[]},{"id":"3e9f147.13588ec","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/getprofiles","method":"get","upload":false,"swaggerDoc":"","x":210,"y":160,"wires":[["ac18664a.ee2218"]]},{"id":"3a6ea6f2.0abd4a","type":"http response","z":"3c1f6dd2.c28162","name":"return profiles","statusCode":"","headers":{},"x":700,"y":160,"wires":[]},{"id":"2a17081c.e4cbd8","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/putconsumables","method":"get","upload":false,"swaggerDoc":"","x":230,"y":260,"wires":[["f6e75717.f180c8","521c9b33.c00a84"]]},{"id":"521c9b33.c00a84","type":"http response","z":"3c1f6dd2.c28162","name":"consumables inserted","statusCode":"","headers":{},"x":720,"y":260,"wires":[]},{"id":"cc25144d.d7d468","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/getconsumables","method":"get","upload":false,"swaggerDoc":"","x":230,"y":320,"wires":[["76174945.adbd78"]]},{"id":"3d172e73.ecaa02","type":"http response","z":"3c1f6dd2.c28162","name":"return consumables","statusCode":"","headers":{},"x":710,"y":320,"wires":[]},{"id":"25cb4197.69a2fe","type":"http response","z":"3c1f6dd2.c28162","name":"owntracks inserted","statusCode":"","headers":{},"x":710,"y":420,"wires":[]},{"id":"a3ca2277.cf09f","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/getowntracks","method":"get","upload":false,"swaggerDoc":"","x":220,"y":480,"wires":[["eadc3dbf.b750b"]]},{"id":"4173a66b.9a73f8","type":"http response","z":"3c1f6dd2.c28162","name":"return owntracks","statusCode":"","headers":{},"x":700,"y":480,"wires":[]},{"id":"42d93305.974bbc","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/assets/checkouthardware","method":"get","upload":false,"swaggerDoc":"","x":240,"y":640,"wires":[["6765f01.8d6ec1"]]},{"id":"ce9419df.c13b78","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/assets/checkinhardware","method":"get","upload":false,"swaggerDoc":"","x":190,"y":700,"wires":[["92aadb5a.e399e8"]]},{"id":"6765f01.8d6ec1","type":"function","z":"3c1f6dd2.c28162","name":"ash","func":"msg.headers = {}\nvar msg2 = msg \nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nmsg.assetId = msg.payload.assetId\nmsg.username = msg.payload.username\nnode.warn(msg.username)\nmsg.snipeit_host = global.get('snipeit_host')\nmsg2 = msg.payload = global.get('profiles')\n\nreturn [msg, msg2]","outputs":1,"noerr":0,"x":440,"y":640,"wires":[["bd42a88f.58cf48"]]},{"id":"696aba6f.5b8f94","type":"http response","z":"3c1f6dd2.c28162","name":"","statusCode":"","headers":{},"x":1050,"y":640,"wires":[]},{"id":"92aadb5a.e399e8","type":"function","z":"3c1f6dd2.c28162","name":"ash","func":"msg.headers = {}\nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nconsole.log(msg.payload.assetId)\nmsg.id = msg.payload.assetId\nmsg.snipeit_host = global.get('snipeit_host')\n\n console.log(msg.id)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":700,"wires":[["bcb68346.64526"]]},{"id":"778deea2.04fe6","type":"http request","z":"3c1f6dd2.c28162","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware/{{{assetId}}}/checkout?assigned_user={{{userId}}}&checkout_to_type=user","tls":"","x":840,"y":640,"wires":[["696aba6f.5b8f94"]]},{"id":"d4013be2.b7bed8","type":"function","z":"3c1f6dd2.c28162","name":"setup /assets/hardwarelist","func":"msg.headers = {}\nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nmsg.snipeit_host = global.get('snipeit_host')\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":780,"wires":[["6c684225.c276fc"]]},{"id":"6c684225.c276fc","type":"http request","z":"3c1f6dd2.c28162","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware","tls":"","x":690,"y":780,"wires":[["e5bab1b7.b1051","aab938a6.743978"]]},{"id":"3244a8b1.442018","type":"function","z":"3c1f6dd2.c28162","name":"set snipeit shit","func":"global.set('snipeit_token', 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjQ0ODQ5ZmVjYmQ3YTBiNWUxMjg4MzUzMjZkZjdkNDM0ZjA1YjVmNWVmZjM0MWQ3NTVjM2NmMGVhODIxODNjNjAyNWQ4NWE4OTE2ZWNiMjlmIn0.eyJhdWQiOiIxIiwianRpIjoiNDQ4NDlmZWNiZDdhMGI1ZTEyODgzNTMyNmRmN2Q0MzRmMDViNWY1ZWZmMzQxZDc1NWMzY2YwZWE4MjE4M2M2MDI1ZDg1YTg5MTZlY2IyOWYiLCJpYXQiOjE1MjgzMDkyMDgsIm5iZiI6MTUyODMwOTIwOCwiZXhwIjoxNTU5ODQ1MjA4LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.yv1QL0Vbf4EupDdI-9U6somSbALryrk5UXX5cMV_iNILSye7rKqruoLurDghzt6-2PboAHffoiWnBGRp36vdJ5oUTNKWPSYl-PQqLkDVWjinpcQ0jHZM75lLausxkIknDi4bFlXPgWHtewotLUQKdDW-Nkij6EckVUZbn2lOFw2bi2HOGzENVl7H8VHaBXlQw_cBpT7w4K1FaHkYE2qECK-B2GZ0VlVw3sBDESbyT0sb-HRzt-6R1icItzMHUXz0sbJox3LyfGJ3X4Z3-_tKk3mxd9TXldWf7HTdk5d65r9YBCl770Ha1rAKhwyGGvMU6jBfQemGcklzooivRfVjzhRD5BlpJNqus7NquyEYacPdmm7A4Tp3bbzyxNeh_7jlVjqsf7CrWy78nFUdrrtE6gBavMwAz8AE7FScH6NzMjCekTU-pvEuUjEmTwj5p_NCUt8Yjwo9u66UzlgVf45wsG3qngL50D097rTzdA97-XGlt-csbZ_m7v2lJXNjR0yxM29aNFQBnui7RLd0_mAtoP41WtXMNlsLL9uaD3wK2tpcpoZViRWPYeg9gs81goMTzQ0ct370urdwkuNwNMvX5N1yljJIShgXnk75EP6YscOdmvR5FrlLm_5b07k7Ywwd9ZfbuaT9RI6YeUruSlH6-fGeH3Q37Gui1i4QSU5M5uc')\nglobal.set('snipeit_host', 'http://52.39.121.124:8080/api/v1')\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":860,"wires":[["ea804714.ecb0b8"]]},{"id":"8d8a6825.0dd138","type":"function","z":"3c1f6dd2.c28162","name":"ash","func":"global.set('profiles', msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":860,"wires":[[]]},{"id":"ea804714.ecb0b8","type":"http request","z":"3c1f6dd2.c28162","name":"","method":"GET","ret":"txt","url":"https://opol.mybluemix.net/getdata","tls":"","x":510,"y":860,"wires":[["8d8a6825.0dd138"]]},{"id":"3159f805.1fe2c8","type":"inject","z":"3c1f6dd2.c28162","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":860,"wires":[["3244a8b1.442018"]]},{"id":"e5bab1b7.b1051","type":"http response","z":"3c1f6dd2.c28162","name":"","statusCode":"","headers":{},"x":850,"y":780,"wires":[]},{"id":"7cf26e89.97134","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/assets/hardwarelist","method":"get","upload":false,"swaggerDoc":"","x":210,"y":780,"wires":[["d4013be2.b7bed8"]]},{"id":"bcb68346.64526","type":"http request","z":"3c1f6dd2.c28162","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware/{{{id}}}/checkin","tls":"","x":540,"y":700,"wires":[["b5760eee.973bc"]]},{"id":"b5760eee.973bc","type":"http response","z":"3c1f6dd2.c28162","name":"","statusCode":"","headers":{},"x":700,"y":700,"wires":[]},{"id":"e56c23d2.bfab1","type":"function","z":"3c1f6dd2.c28162","name":"","func":"// msg.assetId = msg.payload[0].assetId\n// msg.userId = msg.payload.userId\nmsg.userId = msg.payload.snipeitId\nnode.warn(msg.userId)\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":640,"wires":[["778deea2.04fe6"]]},{"id":"9fe19aa7.450a68","type":"http in","z":"3c1f6dd2.c28162","name":"","url":"/api/employees/login","method":"post","upload":false,"swaggerDoc":"","x":1030,"y":80,"wires":[["5cfb5cdf.4e7d84","d2b4ba13.a6ddb8"]]},{"id":"f8d7528f.5ad04","type":"function","z":"3c1f6dd2.c28162","name":"","func":"// var username = msg.payload.username\n// // msg.payload = {\n// //     key: \"userId\",\n// //     reservedKey: \"username\",\n// //     value: username,\n// //     operator: \"=\"\n// // }\n\n// return msgurn msg;","outputs":1,"noerr":0,"x":1110,"y":160,"wires":[[]]},{"id":"4d174621.49a438","type":"function","z":"3c1f6dd2.c28162","name":"ashdowning@gmail.com","func":"\nfor(var profile in msg.payload){\n    if(profile.username == msg.payload.username){\n        // global.set(profile.username, msg.payload[0])\n        return msg\n    }\n}\nmsg.payload = '404'\nreturn msg","outputs":1,"noerr":0,"x":1590,"y":40,"wires":[[]]},{"id":"c389e6fe.0ed538","type":"http response","z":"3c1f6dd2.c28162","name":"","statusCode":"","headers":{},"x":1530,"y":80,"wires":[]},{"id":"45c6d696.e6c468","type":"cloudantplus out","z":"3c1f6dd2.c28162","name":"insert profiles","cloudant":"351736bb.017b9a","database":"profiles","service":"_ext_","payonly":true,"operation":"insert","x":430,"y":80,"wires":[]},{"id":"f6e75717.f180c8","type":"cloudantplus out","z":"3c1f6dd2.c28162","name":"insert consumables","cloudant":"351736bb.017b9a","database":"consumables","service":"Opol6-cloudantNoSQLDB","payonly":true,"operation":"insert","x":450,"y":240,"wires":[]},{"id":"f16f5f7d.1cf81","type":"cloudantplus out","z":"3c1f6dd2.c28162","name":"insert owntracks","cloudant":"351736bb.017b9a","database":"owntracks","service":"Opol6-cloudantNoSQLDB","payonly":true,"operation":"insert","x":440,"y":400,"wires":[]},{"id":"ac18664a.ee2218","type":"cloudantplus in","z":"3c1f6dd2.c28162","name":"Retrieve profiles","cloudant":"351736bb.017b9a","database":"profiles","service":"_ext_","search":"_id_","design":"","index":"","x":440,"y":160,"wires":[["3a6ea6f2.0abd4a"]]},{"id":"76174945.adbd78","type":"cloudantplus in","z":"3c1f6dd2.c28162","name":"Retrieve consumables","cloudant":"351736bb.017b9a","database":"consumables","service":"Opol6-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":460,"y":320,"wires":[["3d172e73.ecaa02"]]},{"id":"eadc3dbf.b750b","type":"cloudantplus in","z":"3c1f6dd2.c28162","name":"Retrieve owntracks","cloudant":"351736bb.017b9a","database":"owntracks","service":"Opol6-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":450,"y":480,"wires":[["4173a66b.9a73f8"]]},{"id":"bd42a88f.58cf48","type":"filter","z":"3c1f6dd2.c28162","name":"","outputs":2,"x":580,"y":640,"wires":[["e56c23d2.bfab1"],[]]},{"id":"482d2aeb.c319c4","type":"inject","z":"3c1f6dd2.c28162","name":"","topic":"","payload":"{\"username\" :\"ash2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":40,"wires":[[]]},{"id":"ea31ec49.64b08","type":"inject","z":"3c1f6dd2.c28162","name":"insert profile","topic":"profiles","payload":"{\"username\":\"ash2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":60,"wires":[["45c6d696.e6c468"]]},{"id":"5cfb5cdf.4e7d84","type":"debug","z":"3c1f6dd2.c28162","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1550,"y":120,"wires":[]},{"id":"dbc74d2b.01b69","type":"inject","z":"3c1f6dd2.c28162","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":940,"wires":[["d4013be2.b7bed8"]]},{"id":"aab938a6.743978","type":"debug","z":"3c1f6dd2.c28162","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":840,"wires":[]},{"id":"d2b4ba13.a6ddb8","type":"cloudantplus in","z":"3c1f6dd2.c28162","name":"","cloudant":"351736bb.017b9a","database":"profiles","service":"_ext_","search":"_id_","design":"","index":"","x":1280,"y":80,"wires":[["5cfb5cdf.4e7d84","c389e6fe.0ed538","4d174621.49a438"]]},{"id":"98dc0cca.58052","type":"debug","z":"3c1f6dd2.c28162","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":560,"wires":[]},{"id":"42ef2bcd.c51ec4","type":"ibmiot in","z":"3c1f6dd2.c28162","authentication":"apiKey","apiKey":"4628ab5c.abe6c4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+Tablets","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":250,"y":560,"wires":[["98dc0cca.58052"]]},{"id":"351736bb.017b9a","type":"cloudantplus","z":"","host":"938d6de2-a827-4db5-9031-ec0143d91b2b-bluemix.cloudant.com","name":""}]