app/.node-red/lib/flows/local.json
[{"id":"6b628289.79f0ac","type":"subflow","name":"humanity","info":"","in":[{"x":72.00000381469727,"y":68.00000381469727,"wires":[{"id":"a2287ef.3c7478"}]}],"out":[]},{"id":"a2287ef.3c7478","type":"function","z":"6b628289.79f0ac","name":"","func":"msg.headers = {}\nlet config = {\n   client_id: '1de720f9636d0f17d61540fbd9c030c30fae3f1f',\n   client_secret: '33c1bfc4f96d5ca7e68b859af8d58fde36867bbd',\n   grant_type: 'password',\n   username: 'ash@andrewscarpetcleaning.com',\n   password: 'sugarlips42'\n}\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.payload = config\nmsg.redirect = false\nconsole.log(msg)\nreturn msg;\n\n// url string\n// If not configured in the node, this optional property sets the url of the request.\n// method string\n// If not configured in the node, this optional property sets the HTTP method of the request. Must be one of GET, PUT, POST, PATCH or DELETE.\n// headers object\n// Sets the HTTP headers of the request.\n// cookies object\n// If set, can be used to send cookies with the request.\n// payload\n// Sent as the body of the request.\n// rejectUnauthorized\n// If set to false, allows requests to be made to https sites that use self signed certificates.\n// followRedirects","outputs":1,"noerr":0,"x":207.18058395385742,"y":66.65971374511719,"wires":[["e8bf1739.737218"]]},{"id":"e8bf1739.737218","type":"http request","z":"6b628289.79f0ac","name":"","method":"POST","ret":"txt","url":"https://www.humanity.com/oauth2/token.php","tls":"","x":372.1875915527344,"y":67.7152910232544,"wires":[["113e2666.ace95a","f7cd729f.4f457"]]},{"id":"113e2666.ace95a","type":"function","z":"6b628289.79f0ac","name":"","func":"console.log(msg)\nconst _token = JSON.parse(msg.payload)\nconst humanity = {\n    token: _token['access_token']\n}\nglobal.set('humanity', humanity)\nmsg.token = humanity.token\nconsole.log(global.get('humanity').token)\n\nreturn msg;","outputs":1,"noerr":0,"x":531.1805391311646,"y":67.55556869506836,"wires":[[]]},{"id":"f7cd729f.4f457","type":"debug","z":"6b628289.79f0ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":534.1944732666016,"y":106.52083587646484,"wires":[]},{"id":"6edfa716.7635e8","type":"http request","z":"6b628289.79f0ac","name":"","method":"GET","ret":"txt","url":"https://www.humanity.com/api/v2/companies/135324?access_token={{{token}}}","tls":"","x":118.18056106567383,"y":157.7187442779541,"wires":[["cd23e99a.170058"]]},{"id":"cd23e99a.170058","type":"function","z":"6b628289.79f0ac","name":"","func":"const staff = JSON.parse(msg.payload).staff\nglobal.set('humanity_staff', staff)\nreturn msg;","outputs":1,"noerr":0,"x":286.1909942626953,"y":157.44098663330078,"wires":[[]]},{"id":"75ea7149.c7e7a","type":"http request","z":"c1ded861.e40118","name":"time clocks","method":"GET","ret":"obj","url":"https://www.humanity.com/api/v2/timeclocks?start_date={{{start_date}}}&employee={{{payload.humanityid}}}&access_token={{{token}}}","tls":"","x":710,"y":140,"wires":[["47529504.cc084c"]]},{"id":"9aba837.164148","type":"http in","z":"c1ded861.e40118","name":"","url":"/employees/timeclocks/","method":"get","upload":false,"swaggerDoc":"","x":308.1944465637207,"y":139.78472232818604,"wires":[["aa7ce372.8a2e2"]]},{"id":"46b55a98.d78f24","type":"http in","z":"c1ded861.e40118","name":"","url":"/employees/callback","method":"get","upload":false,"swaggerDoc":"","x":250,"y":660,"wires":[["2a4a6617.33136a"]]},{"id":"2a4a6617.33136a","type":"http response","z":"c1ded861.e40118","name":"callback","statusCode":"200","headers":{},"x":462.81597900390625,"y":650.2118072509766,"wires":[]},{"id":"aa7ce372.8a2e2","type":"function","z":"c1ded861.e40118","name":"","func":"\nconsole.log(msg.payload)\nvar start_date = msg.payload.start_date\nmsg.start_date = start_date\n\nmsg.headers = {}\nmsg.token = global.get('humanity').token\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.payload = global.get(msg.payload.username)\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["75ea7149.c7e7a"]]},{"id":"76ba57e1.213f68","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":1050,"y":140,"wires":[]},{"id":"47529504.cc084c","type":"change","z":"c1ded861.e40118","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":140,"wires":[["76ba57e1.213f68"]]},{"id":"69fbc3ac.a0e54c","type":"http request","z":"c1ded861.e40118","name":"time clocks","method":"GET","ret":"obj","url":"http://www.humanity.com/api/v2/timeclocks/status/{{{payload.humanityid}}}/0?access_token={{{token}}}","tls":"","x":710,"y":180,"wires":[["3b8cf663.3be9fa"]]},{"id":"64ad8f83.9f096","type":"http in","z":"c1ded861.e40118","name":"","url":"/employees/clockstatus","method":"get","upload":false,"swaggerDoc":"","x":305,"y":185.7673578262329,"wires":[["ee4911ef.a1a8a"]]},{"id":"ee4911ef.a1a8a","type":"function","z":"c1ded861.e40118","name":"","func":"msg.headers = {}\nmsg.token = global.get('humanity').token\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.payload = global.get( msg.payload.username)\nvar username = msg.payload.username\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["69fbc3ac.a0e54c"]]},{"id":"1d7f64d2.ef91bb","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":1050,"y":180,"wires":[]},{"id":"3b8cf663.3be9fa","type":"change","z":"c1ded861.e40118","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":180,"wires":[["1d7f64d2.ef91bb"]]},{"id":"338318d1.707d58","type":"http request","z":"c1ded861.e40118","name":"clock in","method":"POST","ret":"obj","url":"https://www.humanity.com/api/v2/employees/{{{id}}}/clockin?access_token={{{token}}}","tls":"","x":1000,"y":260,"wires":[["d1eb2bc1.d9f748"]]},{"id":"282cf8e7.7eb588","type":"http in","z":"c1ded861.e40118","name":"","url":"/employees/clock","method":"get","upload":false,"swaggerDoc":"","x":260,"y":280,"wires":[["9a853a21.3cfad8"]]},{"id":"d1eb2bc1.d9f748","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":1170,"y":260,"wires":[]},{"id":"a54cdc04.7b279","type":"http in","z":"c1ded861.e40118","name":"","url":"/employees/login","method":"post","upload":false,"swaggerDoc":"","x":280,"y":60,"wires":[["32c2c8be.963678","ee18903e.37e06"]]},{"id":"32c2c8be.963678","type":"function","z":"c1ded861.e40118","name":"","func":"var username = msg.payload.username\nmsg.payload = {\n    key: \"userId\",\n    reservedKey: \"username\",\n    value: username,\n    operator: \"=\"\n}\n\nreturn msg","outputs":1,"noerr":0,"x":470,"y":60,"wires":[["a781c763.8d2538"]]},{"id":"ee18903e.37e06","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"200","headers":{},"x":980,"y":20,"wires":[]},{"id":"bff0b238.33ba3","type":"function","z":"c1ded861.e40118","name":"","func":"\nglobal.set(msg.payload.Items[0].username, msg.payload.Items[0])\nconsole.log(global.get(msg.payload.Items[0].username))\nmsg.topic = \"\"\nconsole.log(global.get('ash2'))\nreturn msg;\n","outputs":1,"noerr":0,"x":830,"y":60,"wires":[["ee18903e.37e06"]]},{"id":"281f8f4e.a8e5d","type":"subflow:6b628289.79f0ac","z":"c1ded861.e40118","name":"humanity","x":400,"y":580,"wires":[]},{"id":"5ebe79e9.e9c178","type":"inject","z":"c1ded861.e40118","name":"","topic":"init","payload":"","payloadType":"date","repeat":"2700","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":580,"wires":[["281f8f4e.a8e5d"]]},{"id":"a52ffea4.59605","type":"inject","z":"c1ded861.e40118","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":211.00690078735352,"y":526.9097957611084,"wires":[["2c08da4b.799e56"]]},{"id":"890afe83.1e5d5","type":"http in","z":"c1ded861.e40118","name":"","url":"/hello-json","method":"get","upload":false,"swaggerDoc":"","x":428.8367614746094,"y":1044.0486755371094,"wires":[["e9f35812.f48ad8"]]},{"id":"e9f35812.f48ad8","type":"template","z":"c1ded861.e40118","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":598.8367614746094,"y":1044.0486755371094,"wires":[["c5e4d2d.07cbd3"]]},{"id":"c5e4d2d.07cbd3","type":"change","z":"c1ded861.e40118","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760.8367156982422,"y":1044.048692703247,"wires":[["7b7e3fed.2aba6","ddaa355a.451508"]]},{"id":"7b7e3fed.2aba6","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":918.8367614746094,"y":1044.0486755371094,"wires":[]},{"id":"ddaa355a.451508","type":"debug","z":"c1ded861.e40118","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":921.0034332275391,"y":1000.5486526489258,"wires":[]},{"id":"3e8d08c0.047cb8","type":"inject","z":"c1ded861.e40118","name":"","topic":"","payload":"{\"requestsId\": \"hgy5nnhr4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":226.8402328491211,"y":951.7083415985107,"wires":[["6465d6f8.b88848"]]},{"id":"a227c471.fc9a58","type":"http request","z":"c1ded861.e40118","name":"employees","method":"GET","ret":"obj","url":"https://www.humanity.com/api/v2/companies/135324?access_token={{{token}}}","tls":"","x":581.8367233276367,"y":551.0486316680908,"wires":[[]]},{"id":"2c08da4b.799e56","type":"function","z":"c1ded861.e40118","name":"","func":"msg.headers = {}\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.token =  global.get('humanity').token\nconsole.log(msg)\nreturn msg;","outputs":1,"noerr":0,"x":390.65618896484375,"y":530.5660095214844,"wires":[["a227c471.fc9a58"]]},{"id":"f10a4db2.9e748","type":"comment","z":"c1ded861.e40118","name":"PUT ITEM","info":"","x":260.8367462158203,"y":1165.7153625488281,"wires":[]},{"id":"2828a86.347d558","type":"inject","z":"c1ded861.e40118","name":"","topic":"ash","payload":"ash","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":900,"wires":[["264971b5.20b63e"]]},{"id":"81622b1f.82b1c8","type":"debug","z":"c1ded861.e40118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":900,"wires":[]},{"id":"d4d72d4c.e4eeb","type":"inject","z":"c1ded861.e40118","name":"","topic":"putItem","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":1280,"wires":[["536fe726.0ee838"]]},{"id":"83a4d659.43fb78","type":"inject","z":"c1ded861.e40118","name":"","topic":"getItem","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":1460,"wires":[["6ba8a26c.3353cc"]]},{"id":"e1b5f3c.df5c81","type":"comment","z":"c1ded861.e40118","name":"GET ITEM","info":"","x":210,"y":1420,"wires":[]},{"id":"26e9ca3c.ef3206","type":"inject","z":"c1ded861.e40118","name":"","topic":"getItem","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":1520,"wires":[["f0f8a29e.92016"]]},{"id":"af26dab0.e30e78","type":"inject","z":"c1ded861.e40118","name":"","topic":"putItem","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":210,"y":1340,"wires":[["a7cc8203.4cd0c"]]},{"id":"536fe726.0ee838","type":"function","z":"c1ded861.e40118","name":"Don't Detect Types","func":"msg.params = {}\n\nmsg.params.Item = {\n    \"ID\": {\"S\": \"Rizza\"},\n    \"name\" : { \"S\": \"Rizza\"},\n\t\"age\" : { \"N\": \"26\"},\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":435,"y":1280.0000576972961,"wires":[["58b018ee.29ae98"]]},{"id":"a7cc8203.4cd0c","type":"function","z":"c1ded861.e40118","name":"Detect Types","func":"msg.params = {}\n\nmsg.params.Item = {\n    \"ID\": \"Rizza1\",\n    \"name\" : \"Rizza2\",\n\t\"age\" : 26\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":1336.9999923706055,"wires":[["4284e61b.d5e098"]]},{"id":"6ba8a26c.3353cc","type":"function","z":"c1ded861.e40118","name":"Don't Detect Types","func":"msg.params = {}\n\nmsg.params.Key = {\n      \"HashKeyElement\" : {\n        \"S\" : \"Another\"\n      }\n  }\n\nreturn msg;","outputs":1,"noerr":0,"x":419,"y":1463.9999980926514,"wires":[["5b7bd71d.48e8c8"]]},{"id":"f0f8a29e.92016","type":"function","z":"c1ded861.e40118","name":"Detect Types","func":"msg.params = {}\n\nmsg.params.Key = {HashKeyElement:\"Another\"}\n\nreturn msg;","outputs":1,"noerr":0,"x":414,"y":1516.0000019073486,"wires":[["517c11b3.85b18"]]},{"id":"bb6933e2.897b8","type":"function","z":"c1ded861.e40118","name":"Add topic & timestamp to payload","func":"var out={\n    timestamp: { \"S\": new Date().toISOString() },\n    topic: { \"S\": msg.topic },\n    data: { \"S\": msg.payload }\n} ;\n\nmsg.payload=out;\n\nreturn msg;","outputs":1,"noerr":0,"x":505.98265075683594,"y":1669.3228759765625,"wires":[["9c08235a.05055"]]},{"id":"9c08235a.05055","type":"debug","z":"c1ded861.e40118","name":"","active":false,"console":"false","complete":"false","x":775.9826507568359,"y":1649.3228759765625,"wires":[]},{"id":"4ac7570d.2931d8","type":"inject","z":"c1ded861.e40118","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":980,"y":1300,"wires":[["39db6d0d.099812"]]},{"id":"39db6d0d.099812","type":"change","z":"c1ded861.e40118","name":"Store time","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1300,"wires":[[]]},{"id":"50202839.6df588","type":"http in","z":"c1ded861.e40118","name":"","url":"/hello-data","method":"get","swaggerDoc":"","x":1000,"y":1340,"wires":[["6d89ec51.636cc4"]]},{"id":"6d89ec51.636cc4","type":"change","z":"c1ded861.e40118","name":"Copy time","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"timestamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1340,"wires":[["56f43893.b00728"]]},{"id":"56f43893.b00728","type":"template","z":"c1ded861.e40118","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Time: {{ timestamp }}</h1>\n    </body>\n</html>","x":1350,"y":1340,"wires":[["79d700e2.4d77a"]]},{"id":"79d700e2.4d77a","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":1490,"y":1340,"wires":[]},{"id":"5024279a.bf7f48","type":"inject","z":"c1ded861.e40118","name":"trigger","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":993.01953125,"y":1629.50390625,"wires":[["4c9a270d.f2f698"]]},{"id":"4c9a270d.f2f698","type":"function","z":"c1ded861.e40118","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.global: \";\n\nfor(var index in context.global) { \n   if(typeof context.global[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.global[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.global[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.global[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.global[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.global[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.global[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"x":1235.01953125,"y":1628.50390625,"wires":[["be1ca988.639778"]]},{"id":"be1ca988.639778","type":"debug","z":"c1ded861.e40118","name":"show","active":true,"console":"false","complete":"payload","x":1452.01953125,"y":1628.50390625,"wires":[]},{"id":"108b26c0.93e8e9","type":"inject","z":"c1ded861.e40118","name":"delete var","topic":"all","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":989.01953125,"y":1664.50390625,"wires":[["4526d29f.c5d6fc"]]},{"id":"350da5e9.2e40ea","type":"function","z":"c1ded861.e40118","name":"Set vars example","func":"context.global.myvar = \"foo\";\ncontext.global.myarry = [\"foo\",\"/\",\"bar\"];\ncontext.global.debug = context.global.debug || {state:0, statePrevious: {pa:1,pb:2,pc:3}, darry: [0,1,2,3] };","outputs":1,"x":1235.01953125,"y":1700.50390625,"wires":[["be1ca988.639778"]]},{"id":"277d3e00.0d5532","type":"inject","z":"c1ded861.e40118","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":993.01953125,"y":1701.50390625,"wires":[["350da5e9.2e40ea"]]},{"id":"4526d29f.c5d6fc","type":"function","z":"c1ded861.e40118","name":"delete vars from global.context","func":"// Delete vars\nif(msg.topic!=\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.global) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.global[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"x":1207.01953125,"y":1663.50390625,"wires":[["be1ca988.639778"]]},{"id":"d934817e.f0a14","type":"http response","z":"c1ded861.e40118","name":"","x":1511,"y":1491,"wires":[]},{"id":"503c0e3.7e862f","type":"template","z":"c1ded861.e40118","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n    </body>\n</html>","x":1371,"y":1491,"wires":[["d934817e.f0a14"]]},{"id":"c5fee4f1.628ec8","type":"http in","z":"c1ded861.e40118","name":"","url":"/hello-param/:name","method":"get","upload":false,"swaggerDoc":"","x":1171,"y":1491,"wires":[["503c0e3.7e862f"]]},{"id":"2455f852.7dc688","type":"http request","z":"c1ded861.e40118","name":"clock out","method":"PUT","ret":"obj","url":"https://www.humanity.com/api/v2/employees/4041624/clockout?access_token={{{token}}}","tls":"","x":660,"y":360,"wires":[["adedc4f.2295438"]]},{"id":"e85e210a.90166","type":"http in","z":"c1ded861.e40118","name":"","url":"/employees/clockout","method":"put","upload":false,"swaggerDoc":"","x":260,"y":353.75694274902344,"wires":[["1f6f62b5.a93d2d"]]},{"id":"1f6f62b5.a93d2d","type":"function","z":"c1ded861.e40118","name":"","func":"// msg.headers = {}\nmsg.token = global.get('humanity').token\n// msg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nconsole.log(msg.payload.username)\nmsg.payload = global.get( msg.payload.username)\nvar username = msg.payload.username\nreturn msg;\n\n// msg.headers = {}\n\n// msg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\n// msg.redirect = false\n// msg.token =  global.get('humanity').token\n// // msg.id = msg.payload.id\n// console.log(msg.payload.id)\n// var username = msg.payload.username\n// console.log(username)\n// msg.payload = {\n//     key: \"userId\",\n//     reservedKey: \"username\",\n//     value: username,\n//     operator: \"=\"\n// }\n\n// return msg;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["2455f852.7dc688"]]},{"id":"adedc4f.2295438","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"200","headers":{},"x":840,"y":360,"wires":[]},{"id":"3a829720.ae1f98","type":"http request","z":"c1ded861.e40118","name":"time clocks","method":"GET","ret":"obj","url":"http://www.humanity.com/api/v2/timeclocks/status/{{{payload.humanityid}}}/0?access_token={{{token}}}","tls":"","x":650,"y":280,"wires":[["1812621b.88285e"]]},{"id":"9a853a21.3cfad8","type":"function","z":"c1ded861.e40118","name":"","func":"msg.headers = {}\nmsg.token = global.get('humanity').token\nmsg.headers[\"content-type\"] = 'application/x-www-form-urlencoded' //should be set to application/x-www-form-urlencoded.\nmsg.redirect = false\nmsg.uname = msg.payload.username\nmsg.payload = global.get( msg.payload.username)\nmsg.id = global.get( msg.payload.username).humanityid\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["3a829720.ae1f98"]]},{"id":"1812621b.88285e","type":"switch","z":"c1ded861.e40118","name":"","property":"payload.data","propertyType":"msg","rules":[{"t":"eq","v":"out","vt":"str"},{"t":"eq","v":"in","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":280,"wires":[["338318d1.707d58"],["6bd85be8.d71ca4"]]},{"id":"6bd85be8.d71ca4","type":"http request","z":"c1ded861.e40118","name":"clock out","method":"PUT","ret":"obj","url":"https://www.humanity.com/api/v2/employees/{{{payload.humanityid}}}/clockout?access_token={{{token}}}","tls":"","x":1000,"y":300,"wires":[["d90deb0b.9029c8"]]},{"id":"d90deb0b.9029c8","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":1170,"y":300,"wires":[]},{"id":"57cb85d0.95ef1c","type":"mqtt in","z":"c1ded861.e40118","name":"owntracks geofence","topic":"owntracks/#","broker":"8de3c01b.03c44","x":1290,"y":540,"wires":[["ca5bb79d.724158","e19d591f.9551e8"]]},{"id":"ca5bb79d.724158","type":"debug","z":"c1ded861.e40118","name":"","active":false,"complete":false,"x":1640,"y":539,"wires":[]},{"id":"e19d591f.9551e8","type":"function","z":"c1ded861.e40118","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nvar now = Date();\nvar message = \"\";\ndata = JSON.parse(msg.payload);\n\nif ( (data._type == \"location\") && (data.event != undefined ) ) {\n\t\n\t\tif ( data.event == \"enter\" ) {\t\t\t\n\t\t\tmessage = \"Entering Location: \";\n\t\t} else {\n\t\t\tmessage = \"Leaving Location: \";\n\t\t}\n\t\t\n\t\tif ( data.desc != undefined ) {\n\t\t\t// Shared waypoint, comes with a description:\n\t\t\t\tmessage += data.desc;\n \t\t} else {\n \t\t\t// No description is set, non shared \"private\" waypoint\n \t\t\t\tmessage += data.lat + \",\" + data.lon;\n \t\t}\n }\n\nmsg.payload = message;\n//console.log(msg.payload);\n\nreturn msg;","outputs":1,"x":1481,"y":664,"wires":[["dc4ac36e.f58f9","298cd229.b95aae"]]},{"id":"dc4ac36e.f58f9","type":"switch","z":"c1ded861.e40118","name":"","property":"payload","rules":[{"t":"cont","v":"Location"}],"checkall":"true","outputs":1,"x":1642,"y":664,"wires":[[]]},{"id":"298cd229.b95aae","type":"debug","z":"c1ded861.e40118","name":"","active":true,"complete":false,"x":1641,"y":592,"wires":[]},{"id":"fceea067.98e25","type":"inject","z":"c1ded861.e40118","name":"Test Shared Waypoint","topic":"","payload":"{\"_type\": \"location\", \"lat\": \"xxxx\", \"lon\": \"yyyy\", \"tst\": \"1391715492\", \"acc\": \"500.0\", \"batt\": \"48\", \"desc\": \"Shared Test Waypoint\", \"event\": \"enter\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":1286,"y":664,"wires":[["e19d591f.9551e8"]]},{"id":"b9ea5434.1aa908","type":"inject","z":"c1ded861.e40118","name":"Test Private Waypoint","topic":"","payload":"{\"_type\": \"location\", \"lat\": \"xxxx\", \"lon\": \"yyyy\", \"tst\": \"1391715492\", \"acc\": \"500.0\", \"batt\": \"48\", \"event\": \"enter\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":1285,"y":729,"wires":[["e19d591f.9551e8"]]},{"id":"a781c763.8d2538","type":"ddb-in","z":"c1ded861.e40118","region":"us-west-2","table":"chat-app-dev.users","name":"getuserid","x":640,"y":60,"wires":[["bff0b238.33ba3"]]},{"id":"264971b5.20b63e","type":"amazon cognito","z":"c1ded861.e40118","aws":"6e899205.9f0f4c","name":"","operation":"adminGetUser","x":400,"y":900,"wires":[["81622b1f.82b1c8"]]},{"id":"58b018ee.29ae98","type":"dynamodb-in","z":"c1ded861.e40118","name":"","region":"ap-southeast-1","table":"employees","operation":"putItem","json_ddb":"","ddb_json":"","detect":false,"x":782.9999923706055,"y":1274.0000629425049,"wires":[[]]},{"id":"4284e61b.d5e098","type":"dynamodb-in","z":"c1ded861.e40118","name":"","region":"ap-southeast-1","table":"TBoxDev_PGenome","operation":"putItem","json_ddb":"params.Item","ddb_json":"params.Item","detect":true,"x":680,"y":1340,"wires":[[]]},{"id":"5b7bd71d.48e8c8","type":"dynamodb-in","z":"c1ded861.e40118","name":"","region":"ap-southeast-1","table":"TBoxDev_PGenome","operation":"getItem","json_ddb":"","ddb_json":"","detect":false,"x":680,"y":1460,"wires":[[]]},{"id":"517c11b3.85b18","type":"dynamodb-in","z":"c1ded861.e40118","name":"","region":"ap-southeast-1","table":"TBoxDev_PGenome","operation":"getItem","json_ddb":"params.Key","ddb_json":"payload.Item","detect":true,"x":680,"y":1520,"wires":[[]]},{"id":"6465d6f8.b88848","type":"ddb out","z":"c1ded861.e40118","region":"us-west-2","table":"requests","name":"requests","x":380,"y":960,"wires":[]},{"id":"52755d8b.b3f304","type":"http in","z":"c1ded861.e40118","name":"","url":"/putprofiles","method":"get","upload":false,"swaggerDoc":"","x":1240,"y":900,"wires":[["21e83c13.06f9b4","d68b0e35.a44b5"]]},{"id":"d68b0e35.a44b5","type":"http response","z":"c1ded861.e40118","name":"profiles inserted","statusCode":"","headers":{},"x":1740,"y":900,"wires":[]},{"id":"c687b480.ab8bd8","type":"http in","z":"c1ded861.e40118","name":"","url":"/getprofiles","method":"get","upload":false,"swaggerDoc":"","x":1240,"y":960,"wires":[["a903edb1.ae6db"]]},{"id":"5f005c22.fb5684","type":"http response","z":"c1ded861.e40118","name":"return profiles","statusCode":"","headers":{},"x":1740,"y":960,"wires":[]},{"id":"4d0726cf.bdb0e8","type":"http in","z":"c1ded861.e40118","name":"","url":"/putconsumables","method":"get","upload":false,"swaggerDoc":"","x":1260,"y":1080,"wires":[["cc54b82c.95c3b8","d184941d.4a17d8"]]},{"id":"d184941d.4a17d8","type":"http response","z":"c1ded861.e40118","name":"consumables inserted","statusCode":"","headers":{},"x":1760,"y":1080,"wires":[]},{"id":"e4e0e333.a4a9d","type":"http in","z":"c1ded861.e40118","name":"","url":"/getconsumables","method":"get","upload":false,"swaggerDoc":"","x":1260,"y":1140,"wires":[["d02f2772.3ebda8"]]},{"id":"9ade3308.8aec7","type":"http response","z":"c1ded861.e40118","name":"return consumables","statusCode":"","headers":{},"x":1750,"y":1140,"wires":[]},{"id":"452320e5.96ab8","type":"http response","z":"c1ded861.e40118","name":"owntracks inserted","statusCode":"","headers":{},"x":1750,"y":1280,"wires":[]},{"id":"53ae599d.7ddbe8","type":"http in","z":"c1ded861.e40118","name":"","url":"/getowntracks","method":"get","upload":false,"swaggerDoc":"","x":1250,"y":1340,"wires":[["5c2b8492.6846cc"]]},{"id":"b5d8b1ba.20784","type":"http response","z":"c1ded861.e40118","name":"return owntracks","statusCode":"","headers":{},"x":1740,"y":1340,"wires":[]},{"id":"ea22eaf8.f24ba8","type":"mqtt in","z":"c1ded861.e40118","name":"Rabbit on Bluemix","topic":"owntracks/#","qos":"0","broker":"48984b9c.f764e4","x":1250,"y":1280,"wires":[["452320e5.96ab8","933e31ed.c907d"]]},{"id":"f9b88a7c.b2b4d8","type":"http in","z":"c1ded861.e40118","name":"","url":"/assets/checkouthardware","method":"get","upload":false,"swaggerDoc":"","x":2090,"y":940,"wires":[["568c9c2c.56adc4"]]},{"id":"7cea314e.32e8e","type":"http in","z":"c1ded861.e40118","name":"","url":"/assets/checkinhardware","method":"get","upload":false,"swaggerDoc":"","x":2040,"y":1000,"wires":[["62a8c6fe.e1a5c8"]]},{"id":"568c9c2c.56adc4","type":"function","z":"c1ded861.e40118","name":"ash","func":"msg.headers = {}\nvar msg2 = msg \nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nmsg.assetId = msg.payload.assetId\nmsg.username = msg.payload.username\nnode.warn(msg.username)\nmsg.snipeit_host = global.get('snipeit_host')\nmsg2 = msg.payload = global.get('profiles')\n\nreturn [msg, msg2]","outputs":1,"noerr":0,"x":2300,"y":940,"wires":[["421a159f.9a7b7c"]]},{"id":"361e1790.c2eac8","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":2860,"y":940,"wires":[]},{"id":"62a8c6fe.e1a5c8","type":"function","z":"c1ded861.e40118","name":"ash","func":"msg.headers = {}\nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nconsole.log(msg.payload.assetId)\nmsg.id = msg.payload.assetId\nmsg.snipeit_host = global.get('snipeit_host')\n\n console.log(msg.id)\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":1000,"wires":[["6221dcf3.b22934"]]},{"id":"86f5ddc.e2ade2","type":"http request","z":"c1ded861.e40118","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware/{{{assetId}}}/checkout?assigned_user={{{userId}}}&checkout_to_type=user","tls":"","x":2700,"y":940,"wires":[["361e1790.c2eac8","a461e725.0e3e58","da1c07bb.8d3658"]]},{"id":"75b07c21.6dc4b4","type":"function","z":"c1ded861.e40118","name":"ash","func":"msg.headers = {}\nconst token = global.get('snipeit_token')\nmsg.headers['Accept'] = 'application/json'\nmsg.headers[\"Authorization\"] = 'Bearer '+ token\nmsg.redirect = false\nmsg.snipeit_host = global.get('snipeit_host')\nmsg.mock = false\nreturn msg;","outputs":1,"noerr":0,"x":2260,"y":1080,"wires":[["9967b583.55f868"]]},{"id":"9967b583.55f868","type":"http request","z":"c1ded861.e40118","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware","tls":"","x":2400,"y":1080,"wires":[["16836724.f6a1d9"]]},{"id":"91ad9e91.6c282","type":"function","z":"c1ded861.e40118","name":"ash","func":"global.set('snipeit_token', 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjQ0ODQ5ZmVjYmQ3YTBiNWUxMjg4MzUzMjZkZjdkNDM0ZjA1YjVmNWVmZjM0MWQ3NTVjM2NmMGVhODIxODNjNjAyNWQ4NWE4OTE2ZWNiMjlmIn0.eyJhdWQiOiIxIiwianRpIjoiNDQ4NDlmZWNiZDdhMGI1ZTEyODgzNTMyNmRmN2Q0MzRmMDViNWY1ZWZmMzQxZDc1NWMzY2YwZWE4MjE4M2M2MDI1ZDg1YTg5MTZlY2IyOWYiLCJpYXQiOjE1MjgzMDkyMDgsIm5iZiI6MTUyODMwOTIwOCwiZXhwIjoxNTU5ODQ1MjA4LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.yv1QL0Vbf4EupDdI-9U6somSbALryrk5UXX5cMV_iNILSye7rKqruoLurDghzt6-2PboAHffoiWnBGRp36vdJ5oUTNKWPSYl-PQqLkDVWjinpcQ0jHZM75lLausxkIknDi4bFlXPgWHtewotLUQKdDW-Nkij6EckVUZbn2lOFw2bi2HOGzENVl7H8VHaBXlQw_cBpT7w4K1FaHkYE2qECK-B2GZ0VlVw3sBDESbyT0sb-HRzt-6R1icItzMHUXz0sbJox3LyfGJ3X4Z3-_tKk3mxd9TXldWf7HTdk5d65r9YBCl770Ha1rAKhwyGGvMU6jBfQemGcklzooivRfVjzhRD5BlpJNqus7NquyEYacPdmm7A4Tp3bbzyxNeh_7jlVjqsf7CrWy78nFUdrrtE6gBavMwAz8AE7FScH6NzMjCekTU-pvEuUjEmTwj5p_NCUt8Yjwo9u66UzlgVf45wsG3qngL50D097rTzdA97-XGlt-csbZ_m7v2lJXNjR0yxM29aNFQBnui7RLd0_mAtoP41WtXMNlsLL9uaD3wK2tpcpoZViRWPYeg9gs81goMTzQ0ct370urdwkuNwNMvX5N1yljJIShgXnk75EP6YscOdmvR5FrlLm_5b07k7Ywwd9ZfbuaT9RI6YeUruSlH6-fGeH3Q37Gui1i4QSU5M5uc')\nglobal.set('snipeit_host', 'http://52.39.121.124:8080/api/v1')\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2140,"y":1160,"wires":[["5e8a0db0.5aaaa4"]]},{"id":"bfe3b830.1e1ca8","type":"function","z":"c1ded861.e40118","name":"ash","func":"global.set('profiles', JSON.parse(msg.payload))\n\nreturn msg;","outputs":1,"noerr":0,"x":2420,"y":1160,"wires":[[]]},{"id":"5e8a0db0.5aaaa4","type":"http request","z":"c1ded861.e40118","name":"","method":"GET","ret":"txt","url":"https://opol.mybluemix.net/getdata","tls":"","x":2280,"y":1160,"wires":[["bfe3b830.1e1ca8"]]},{"id":"ec461e60.88ca4","type":"inject","z":"c1ded861.e40118","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1980,"y":1160,"wires":[["91ad9e91.6c282"]]},{"id":"16836724.f6a1d9","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":2560,"y":1080,"wires":[]},{"id":"8f304fd0.2b6e8","type":"http in","z":"c1ded861.e40118","name":"","url":"/assets/hardwarelist","method":"get","upload":false,"swaggerDoc":"","x":2060,"y":1080,"wires":[["75b07c21.6dc4b4"]]},{"id":"6221dcf3.b22934","type":"http request","z":"c1ded861.e40118","name":"","method":"GET","ret":"txt","url":"{{{snipeit_host}}}/hardware/{{{id}}}/checkin","tls":"","x":2400,"y":1000,"wires":[["cc8f400c.3e4a4"]]},{"id":"cc8f400c.3e4a4","type":"http response","z":"c1ded861.e40118","name":"","statusCode":"","headers":{},"x":2560,"y":1000,"wires":[]},{"id":"fd361e97.095a6","type":"function","z":"c1ded861.e40118","name":"","func":"// msg.assetId = msg.payload[0].assetId\n// msg.userId = msg.payload.userId\nmsg.userId = msg.payload.snipeitId\nnode.warn(msg.userId)\n\nreturn msg;","outputs":1,"noerr":0,"x":2560,"y":940,"wires":[["86f5ddc.e2ade2"]]},{"id":"21e83c13.06f9b4","type":"cloudantplus out","z":"c1ded861.e40118","name":"insert profiles","cloudant":"bb36ca87.73e928","database":"profiles","service":"_ext_","payonly":true,"operation":"insert","x":1470,"y":880,"wires":[]},{"id":"cc54b82c.95c3b8","type":"cloudantplus out","z":"c1ded861.e40118","name":"insert consumables","cloudant":"fd1a6afa.76a098","database":"consumables","service":"_ext_","payonly":true,"operation":"insert","x":1490,"y":1060,"wires":[]},{"id":"933e31ed.c907d","type":"cloudantplus out","z":"c1ded861.e40118","name":"insert owntracks","cloudant":"fd1a6afa.76a098","database":"owntracks","service":"_ext_","payonly":true,"operation":"insert","x":1480,"y":1260,"wires":[]},{"id":"a903edb1.ae6db","type":"cloudantplus in","z":"c1ded861.e40118","name":"Retrieve profiles","cloudant":"fd1a6afa.76a098","database":"profiles","service":"_ext_","search":"_id_","design":"","index":"","x":1480,"y":960,"wires":[["5f005c22.fb5684"]]},{"id":"d02f2772.3ebda8","type":"cloudantplus in","z":"c1ded861.e40118","name":"Retrieve consumables","cloudant":"fd1a6afa.76a098","database":"consumables","service":"_ext_","search":"_id_","design":"","index":"","x":1500,"y":1140,"wires":[["9ade3308.8aec7"]]},{"id":"5c2b8492.6846cc","type":"cloudantplus in","z":"c1ded861.e40118","name":"Retrieve owntracks","cloudant":"fd1a6afa.76a098","database":"owntracks","service":"_ext_","search":"_id_","design":"","index":"","x":1490,"y":1340,"wires":[["b5d8b1ba.20784"]]},{"id":"8d6cfa07.876e18","type":"actionflows","z":"c1ded861.e40118","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"action","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":1350,"y":1940,"wires":[[]]},{"id":"421a159f.9a7b7c","type":"filter","z":"c1ded861.e40118","name":"","property":"msg2.payload.username","propertyType":"flow","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"msg2.username","vt":"flow","output":1}],"checkall":"true","outputs":1,"x":2440,"y":940,"wires":[["fd361e97.095a6"]]},{"id":"a461e725.0e3e58","type":"DataIn","z":"c1ded861.e40118","collection":"8c5fc8f9.567368","name":"checkoutlist","update":false,"path":"/assets/checkoutlist","x":3000,"y":900,"wires":[]},{"id":"266c0a7a.850be6","type":"DataOut","z":"c1ded861.e40118","collection":"8c5fc8f9.567368","name":"ashdowning@gmail.com","path":"/","error":false,"x":2600,"y":840,"wires":[[]]},{"id":"da1c07bb.8d3658","type":"debug","z":"c1ded861.e40118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2880,"y":1000,"wires":[]},{"id":"4ea9460.3552fbc","type":"function","z":"c1ded861.e40118","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2860,"y":880,"wires":[[]]},{"id":"b2b5d70a.56eb38","type":"inject","z":"c1ded861.e40118","name":"","topic":"","payload":"{\"assetId\":\"1\", \"username\":\"ash\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2160,"y":900,"wires":[["568c9c2c.56adc4"]]},{"id":"8de3c01b.03c44","type":"mqtt-broker","broker":"10.0.1.10","port":"1883"},{"id":"48984b9c.f764e4","type":"mqtt-broker","z":"","name":"rabbit","broker":"white-swan.rmq.cloudamqp.com","port":"1883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bb36ca87.73e928","type":"cloudantplus","z":"","host":"","name":""},{"id":"8c5fc8f9.567368","type":"json-db-collection","z":"","name":"assets","collection":"assets","save":true}]